<template>
  <ViewDonjon :cards="cards" title-donjon="Gorge de l'oubli"/>
</template>

<script>
import ViewDonjon from "@/components/ViewDonjon";
import gorge_oubli from "@/json/donjons/gorge_oubli.json";
import {detectDayOfWeek} from "@/utils";

export default {
  name: "GorgeDeLOubli",
  components: {ViewDonjon},
  beforeMount() {
    let dimanche = gorge_oubli[0].dimanche
    let lundi_jeudi = gorge_oubli[0].lundi_jeudi
    let mardi_vendredi = gorge_oubli[0].mardi_vendredi
    let mercredi_samedi = gorge_oubli[0].mercredi_samedi

    this.cards = detectDayOfWeek(lundi_jeudi, mardi_vendredi, mercredi_samedi, dimanche)
  },
  data() {
    return {
      cards: []
    }
  }
}
</script>

<style scoped>

</style>
