<template>
  <ViewDonjon :cards="cards" title-donjon="Le Manoir Taishan"/>
</template>

<script>
import ViewDonjon from "@/components/ViewDonjon";
import manoir_teishan from "@/json/donjons/manoir_teishan.json";
import {detectDayOfWeek} from "@/utils";

export default {
  name: "ManoirTaishan",
  components: {ViewDonjon},
  beforeMount() {
    let dimanche = manoir_teishan[0].dimanche
    let lundi_jeudi = manoir_teishan[0].lundi_jeudi
    let mardi_vendredi = manoir_teishan[0].mardi_vendredi
    let mercredi_samedi = manoir_teishan[0].mercredi_samedi

    this.cards = detectDayOfWeek(lundi_jeudi, mardi_vendredi, mercredi_samedi, dimanche)
  },
  data() {
    return {
      cards: []
    }
  }
}
</script>

<style scoped>

</style>
