<template>
  <ViewDonjon2 :cards="cards" title-donjon="Palais secret de Lianshan"/>
</template>

<script>
import ViewDonjon2 from "@/components/ViewDonjon2";
import palais_secret_de_lianshan from "@/json/donjons/palais_secret_de_lianshan.json";
import {detectDayOfWeek} from "@/utils";

export default {
  name: "PalaisSecretDeLianshan",
  components: {ViewDonjon2},
  beforeMount() {
    let dimanche = palais_secret_de_lianshan[0].dimanche
    let lundi_jeudi = palais_secret_de_lianshan[0].lundi_jeudi
    let mardi_vendredi = palais_secret_de_lianshan[0].mardi_vendredi
    let mercredi_samedi = palais_secret_de_lianshan[0].mercredi_samedi

    this.cards = detectDayOfWeek(lundi_jeudi, mardi_vendredi, mercredi_samedi, dimanche)
  },
  data() {
    return {
      cards: []
    }
  }
}
</script>

<style scoped>

</style>
