<template>
  <ViewDonjon2 :cards="cards" title-donjon="Pépinière De Cécilias"/>
</template>

<script>
import ViewDonjon2 from "@/components/ViewDonjon2";
import pepiniere_de_cecilias from "@/json/donjons/pepiniere_de_cecilias.json";
import {detectDayOfWeek} from "@/utils";

export default {
  name: "PepiniereDeCecilias",
  components: {ViewDonjon2},
  beforeMount() {
    let dimanche = pepiniere_de_cecilias[0].dimanche
    let lundi_jeudi = pepiniere_de_cecilias[0].lundi_jeudi
    let mardi_vendredi = pepiniere_de_cecilias[0].mardi_vendredi
    let mercredi_samedi = pepiniere_de_cecilias[0].mercredi_samedi

    this.cards = detectDayOfWeek(lundi_jeudi, mardi_vendredi, mercredi_samedi, dimanche)
  },
  data() {
    return {
      cards: []
    }
  }
}
</script>

<style scoped>

</style>
