@mixin card($color) {
  position: relative;
  border: 2px solid $color;
  background: rgba($color, 0.1);
  padding: 8px 0;
  margin: 15px 0;

  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);;
  border-radius: 5px;
}

@mixin cardArmes($color) {
  position: relative;
  border: 2px solid $color;
  background: rgba($color, 0.1);
  padding: 8px 0;
  margin: 15px 0;
  height: 230px;

  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);;
  border-radius: 5px;
}

$charsColors: (
        '1': rgb(128, 128, 128),
        '2': rgb(38, 181, 27),
        '3': rgb(49, 164, 231),
        '4': rgb(128, 0, 128),
        '5': rgb(236, 158, 65)
);

@each $chars, $color in $charsColors {
  .card-char-#{$chars} {
    @include card($color);
  }
  .card-armes-#{$chars} {
    @include cardArmes($color);
  }
}

.char_portrait_element {
  height: 35px !important;
  border: 1px solid #3c3c3c !important;
  border-radius: 18px;
  padding: 5px;
  background: #606060;
  position: absolute;
}

.char_portrait_aptitude {
  height: 55px !important;
  border-radius: 18px;
  padding: 5px;
  position: absolute;
  right: 0;
  top: 0;
}

.mob_portrait_element {
  height: 35px !important;
  border: 1px solid #3c3c3c !important;
  border-radius: 18px;
  padding: 5px;
  background: #606060;
  position: absolute;
  top: 5px;
  left: 5px;
}

.card-mob {
  position: relative;
  $color: rgb(128, 128, 128);
  border: 2px solid $color;
  background: rgba($color, 0.1);
  padding: 10px;
  margin: 15px 0;
}

.level_mob {
  position: absolute;
  top: 0px;
  right: 10px;
  font-weight: bold;
  font-size: 27px;
  color: #5c2cdf;
}

