//Définition des couleurs
$resineColors: (
        'Use': #00b7ff,
        'Full': #56b50b,
        'Warning': #f56f14,
        'Out': red,
);

//Mixin pour éviter la duplication
@mixin type($color) {
  //Marge
  margin: 7px 0;
  //Taille du cadre
  width: 170px;
  height: 50px;
  //Bordure
  border: 2px $color solid;
  border-radius: 7px;
  //Background
  background: rgba(196, 252, 255, 0.1) url("~@/assets/img/Resine.webp") no-repeat left;
  background-size: 35px 35px;
  background-position-x: 5px;
  //Espacement interne
  padding-left: 30px;
  padding-top: 1px;
  //Texte
  color: lighten($color, 4);
  text-shadow: #000 1px 0 3px;
  font-weight: bold;
  font-size: 27px;
}

//Boucle en prenant les bonne couleur
@each $type, $color in $resineColors {
  .resineCounter#{$type} {
    @include type($color);
  }
}
