body {
  font-family: 'Play', sans-serif;
}

.mainTitle {
  font-size: 45px;
}

.titleQA {
  font-size: 40px;
  font-weight: bold;
  color: #5d8eee;
}

.subtitleQA {
  font-size: 30px;
  font-weight: bold;
  color: #5d8eee;
}

.responseQA {
  line-height: 1;
  margin-top: 20px;
}

.responseQA-listItem {
  display: inline-block;
  text-align: left;
  font-size: 18px;
  font-weight: bold;
}

.responseQA-text {
  font-size: 18px;
  font-weight: bold;
}

.delete-button {
  position: absolute;
  top: 10px;
  right: 10px;
}

.donate-button {
  cursor: pointer;
  width: 35px;
  height: 35px;
  background: #007bff;
  position: fixed;
  top: 60px;
  left: 7px;
  border-radius: 50px;
  z-index: 5;

  i {
    color: white;
    font-size: 22px;
  }
}

@import "utils";
@import "cards";
@import "ResineCounter";
