<template>
  <div class="about">
    <h1>A propos</h1>
    La majorité des images reviennent de droit au site <a href="https://genshin.honeyhunterworld.com">honeyhunterworld.com</a>
  </div>
</template>
