<template>
  <div>
    <h1 class="mainTitle">Profondeur spiralées</h1>
    <p>Cette page vous indique comment obtenir 3 étoiles par étage</p>
    <b-alert show variant="warning">
      <i class="mdi mdi-alert"></i> A ce jour le guide s'arrête à l'étage 5
    </b-alert>
    <h3>Veuillez choisir votre étage</h3>
    <b-pagination-nav :limit="8" :link-gen="linkGen" :number-of-pages="5" align="center" use-router></b-pagination-nav>
    <div v-if="$route.params.pageNum" class="mt-3">
      <Etage1 v-if="parseInt($route.params.pageNum) === 1"/>
      <Etage2 v-else-if="parseInt($route.params.pageNum) === 2"/>
      <Etage3 v-else-if="parseInt($route.params.pageNum) === 3"/>
      <Etage4 v-else-if="parseInt($route.params.pageNum) === 4"/>
      <Etage5 v-else-if="parseInt($route.params.pageNum) === 5"/>
    </div>
    <em>Aide : Merci à Riri sur le <a href="https://discord.gg/PFtDaArR8p">Discord Celezis</a> pour son aide</em>
    <div class="my-2"></div>
  </div>
</template>

<script>
import Etage1 from "@/components/Abysses/Etage1";
import Etage2 from "@/components/Abysses/Etage2";
import Etage3 from "@/components/Abysses/Etage3";
import Etage4 from "@/components/Abysses/Etage4";
import Etage5 from "@/components/Abysses/Etage5";

export default {
  name: "Abysses",
  components: {Etage5, Etage4, Etage3, Etage2, Etage1},
  data() {
    return {}
  },
  beforeMount() {
    if (!this.$route.params.pageNum)
      this.$router.push({name: 'AbyssesB', params: {pageNum: 1}})
  },
  methods: {
    linkGen(pageNum) {
      return {
        name: 'AbyssesB',
        params: {pageNum: pageNum}
      }
    }
  }
}
</script>

<style scoped>

</style>
