<template>
  <div>
    <h1>Guide sur les artéfacts</h1><br>
    <h4>Ce guide est fait pour vous aider à trier vos artéfacts</h4>
    <h4>Vous devez suivre les étapes suivantes :</h4><br>

    <ul>
      <li>Ce concentrer uniquement sur les artéfacts 5 étoiles ou au pire 4 selon le niveau</li>
      <li>Essayer d'obtenir un set 4 pièce ou 2/2 selon le build du personage (voir menu build)</li>
      <li>La dernière pièce peut être n'importe quel artéfact on appelle ça un broken set : exemple coupe dgt anémo</li>
      <li>Regarder les main stat en priorité et jeter tout les Def% sans exeption peu importe ce qu'il ya dessous</li>
      <li>Garder uniquement des pièces utiles complètes et jeter le reste (voir tableau ci dessous)</li>
    </ul>

    <b-table-simple bordered responsive>
      <b-thead>
        <b-tr>
          <b-td></b-td>
          <b-td>Fleur</b-td>
          <b-td>Plume</b-td>
          <b-td>Sablier</b-td>
          <b-td>Coupe</b-td>
          <b-td>Casque</b-td>
        </b-tr>
      </b-thead>
      <b-tbody>
        <b-tr>
          <b-td>Main Stat :</b-td>
          <b-td><b>PV %</b></b-td>
          <b-td><b>ATQ</b></b-td>
          <b-td><b>ATQ% / Recharge Energie</b></b-td>
          <b-td><b>DGT Elem / Pysh</b></b-td>
          <b-td><b>DGT Crit % / Taux Crit% **</b></b-td>
        </b-tr>
        <b-tr>
          <b-td>Sub Stat :</b-td>
          <b-td>
            <span class="text-danger">DGT Crit % *</span><br>
            <span class="text-danger">Taux Crit % *</span><br>
            PV<br>
            ATQ%<br>
          </b-td>
          <b-td>
            <span class="text-danger">DGT Crit % *</span><br>
            <span class="text-danger">Taux Crit % *</span><br>
            ATQ<br>
            Recharge Energie<br>
          </b-td>
          <b-td>
            <span class="text-danger">DGT Crit % *</span><br>
            <span class="text-danger">Taux Crit % *</span><br>
            ATQ%<br>
            ATQ<br>
          </b-td>
          <b-td>
            <span class="text-danger">DGT Crit % *</span><br>
            <span class="text-danger">Taux Crit % *</span><br>
            ATQ%<br>
            ATQ<br>
          </b-td>
          <b-td>
            <span class="text-danger">DGT Crit % / Taux Crit% (en fonction du main) *</span><br>
            ATQ% <br>
            ATQ <br>
            Recharge / EM
          </b-td>
        </b-tr>
      </b-tbody>
    </b-table-simple>
    <em><span class="text-danger">*</span> Vous l'aurez compris il faut toujours avoir DGT CRIT % et TAUX CRIT % sur
      chaque artefact le reste peu importe
      ce que c'est on le prend quand même la ça serait la perfection</em>
    <br><br>
    <em>** Choisit DGT CRIT % et TAUX CRIT % en complément de votre arme (Roche Noir / BP / Arme 5%) vous devez viser
      les 60% mini TC sur chaque build et le reste en DGT CRIT</em>
  </div>
</template>

<script>
import $ from 'jquery'

export default {
  name: "Astuces",
  methods: {
    scrollFix: function (hash) {
      setTimeout(() => $('html, body').animate({
        scrollTop: $(hash).offset().top
      }, 1000), 1)
    }
  }
}
</script>

<style scoped>

</style>
