<template>
  <div>
    <h1 class="mainTitle">Astuces</h1>

    <b-alert show variant="info">
      <h2>Sommaire</h2>
      <div class="responseQA">
        <div class="responseQA-listItem">
          <ul>
            <li>
              <router-link @click.native="scrollFix('#ARLVUP')" to="/astuces">Comment monter d'AR ( Niveau d'aventure )
                ?
              </router-link>
            </li>
            <li>
              <router-link @click.native="scrollFix('#resineCondense')" to="/astuces">Qu'est-ce que la résine condensée
                ?
              </router-link>
            </li>
            <li>
              <router-link @click.native="scrollFix('#recolteCoop')" to="/astuces">Que peut-on récolter en coop et qui
                est partagé pour tout le monde ?
              </router-link>
            </li>
            <li>
              <router-link @click.native="scrollFix('#lootShrine')" to="/astuces">Les loots des Sanctuaires des
                Profondeurs changent-ils en fonction du niveau de monde ?
              </router-link>
            </li>
          </ul>
        </div>
      </div>
    </b-alert>

    <h2 class="titleQA" id="ARLVUP">Comment monter d'AR ( Niveau d'aventure ) ?
      <img height="52" src="@/assets/img/AR_LOGO.png" width="52"></h2>
    <div class="responseQA">
      <div class="responseQA-listItem">
        <p><i class="mdi mdi-google-nearby"></i> Les quêtes d'Archon ( histoire principale )</p>
        <p><i class="mdi mdi-google-nearby"></i> Les quêtes d'histoire ( histoire des personnages )</p>
        <p><i class="mdi mdi-google-nearby"></i> Les quêtes du monde ( Point d'exclamation bleu )</p>
        <p><i class="mdi mdi-google-nearby"></i> Les quêtes journalière</p>
        <p><i class="mdi mdi-google-nearby"></i> L'ouverture de coffre</p>
        <p><i class="mdi mdi-google-nearby"></i> Tout ce qui consomme de la résine</p>
      </div>
    </div>
    <br>
    <h2 class="titleQA" id="resineCondense">Qu'est-ce que la résine condensée ?
      <img height="64" src="@/assets/img/Resine_condense.png" width="64"></h2>
    <div class="responseQA">
      <div class="responseQA-text">
        <p>
          La résine condensée est un objet craftable avec l'alchimie, la recette est déblocable au niveau de réputation
          3 de Liyue. Elle nécessite
          <span class="text-info">40 résines originelle <img height="24" src="@/assets/img/Resine.webp" width="24"> et 1 noyau cristallin <img height="24" src="@/assets/img/Noyau_cristallin.webp" width="24"></span>.
          On ne peux en avoir que
          <span class="text-warning">3 en même temps</span>. </p>
        <p>
          Elle est utilisée pour obtenir le double de récompense lors de la consommation de résine. Il y a néanmoins des
          prérequis à son utilisation : Il faut que l'activité consomme
          <span class="text-info">20 résines <img height="24" src="@/assets/img/Resine.webp" width="24">.</span>
        </p>

        <div class="responseQA-listItem">
          <p><i class="mdi mdi-checkbox-marked" style="color: darkgreen"></i> Les lignes énergétiques </p>
          <p><i class="mdi mdi-checkbox-marked" style="color: darkgreen"></i> Les donjons</p>
          <p><i class="mdi mdi-close-box" style="color: darkred"></i> Le Loup</p>
          <p><i class="mdi mdi-close-box" style="color: darkred"></i> Le Dragon</p>
          <p><i class="mdi mdi-close-box" style="color: darkred"></i> Tartaglia</p>
          <p><i class="mdi mdi-close-box" style="color: darkred"></i> Les boss du monde</p>
        </div>
      </div>
    </div>
    <br>
    <h2 class="titleQA" id="recolteCoop">Que peut-on récolter en coop et qui est partagé pour tout le monde ? </h2>
    <div class="responseQA">
      <div class="responseQA-listItem">
        <p><i class="mdi mdi-checkbox-marked" style="color: darkgreen"></i> Morceau de fer</p>
        <p><i class="mdi mdi-checkbox-marked" style="color: darkgreen"></i> Morceau de fer blanc</p>
        <p><i class="mdi mdi-checkbox-marked" style="color: darkgreen"></i> Morceau de cristal</p>
        <p><i class="mdi mdi-checkbox-marked" style="color: darkgreen"></i> Eléctrocristal ( cristal violet ) </p>
        <p><i class="mdi mdi-checkbox-marked" style="color: darkgreen"></i> Jade Noctiluque</p>
        <p><i class="mdi mdi-checkbox-marked" style="color: darkgreen"></i> Les drops des monstres</p>
        <p><i class="mdi mdi-close-box" style="color: darkred"></i> Coeur de Lapis</p>
        <p><i class="mdi mdi-close-box" style="color: darkred"></i> Les fleurs en général</p>
      </div>
    </div>
    <br>
    <h2 class="titleQA" id="lootShrine">Les loots des Sanctuaires des Profondeurs changent-ils en fonction du niveau de
      monde ?</h2>
    <div class="responseQA">
      <div class="responseQA-text">
        Non. Le contenu de chaque sanctuaire est le même, sauf pour ce qui concerne les armes et artefacts. Vous
        recevrez donc :
      </div>
      <br>
      <div class="responseQA-listItem">
        <p><i class="mdi mdi-google-nearby"></i> 40 Primo-gemmes
          <img height="24" src="@/assets/img/Primo-gemme.webp" width="24"></p>
        <p><i class="mdi mdi-google-nearby"></i> 60 Exp d'aventure
          <img height="24" src="@/assets/img/AR_LOGO.png" width="24"></p>
        <p><i class="mdi mdi-google-nearby"></i> 10 Sceaux Anemo / Geo selon la région
          <img height="24" src="@/assets/img/Sceau-Anemo.png" width="24">
          <img height="24" src="@/assets/img/Sceau-Geo.png" width="24"></p>
        <p><i class="mdi mdi-google-nearby"></i> Armes et/ou artefacts aléatoire
          <img height="32" src="@/assets/img/Artefact.png" width="32">
          <img height="32" src="@/assets/img/Arme.webp" width="32"></p>
      </div>
      <b-alert show variant="warning">
        <i class="mdi mdi-alert"></i> Les coffres de sanctuaires ne réapparaissent pas et nécessite une clé du
        sanctuaire des profondeurs.
      </b-alert>

      <em>Source : Leiden sur le <a href="https://discord.gg/PFtDaArR8p">Discord Celezis</a></em>
      <div class="my-2"></div>
    </div>

  </div>
</template>

<script>
import $ from 'jquery'

export default {
  name: "Astuces",
  methods: {
    scrollFix: function (hash) {
      setTimeout(() => $('html, body').animate({
        scrollTop: $(hash).offset().top
      }, 1000), 1)
    }
  }
}
</script>

<style scoped>

</style>
