<template>
  <div v-if="$route.params.name">
    <em>Les builds ci-dessous sont des conseils ils ne sont pas obligés d'être suivi et peuvent être améliorer mais au
      moins cela vous permet d'avoir une idée de comment stuff le personnage 😉</em>
    <h1 class="mainTitle">Build de {{ $route.params.name }}</h1>

    <b-btn v-if="!showMaterials" class="mb-2" variant="primary" @click="showMaterials = !showMaterials">
      <i class="mdi mdi-arrow-down"></i> Montrer les matériaux requis pour les
      élévations de phases
    </b-btn>
    <b-btn v-else class="mb-2" variant="primary" @click="showMaterials = !showMaterials">
      <i class="mdi mdi-arrow-up"></i> Montrer les matériaux requis pour les
      élévations de phases
    </b-btn>

    <b-row v-if="showMaterials">
      <b-col md="6" sm="12">
        <img alt="" class="img-fluid" src="@/assets/img/builds/EXP_persos.jpg">
        <div class="my-2"></div>
      </b-col>
      <b-col md="6" sm="12">
        <img :src="require(`@/assets/img/builds/${$route.params.name.toLowerCase()}1.webp`)" alt="" class="img-fluid">
        <div class="my-2"></div>
        <img :src="require(`@/assets/img/builds/${$route.params.name.toLowerCase()}2.png`)" alt="" class="img-fluid">
      </b-col>
    </b-row>

    <div v-else>
      <img :src="require(`@/assets/img/builds/${$route.params.name.toLowerCase()}1.webp`)" alt="" class="img-fluid">
      <div class="my-2"></div>
      <img :src="require(`@/assets/img/builds/${$route.params.name.toLowerCase()}2.png`)" alt="" class="img-fluid">
    </div>

    <em>Les images reviennent de droit à <a href="https://www.puregamemedia.fr">PureGameMedia</a> et
      <a href="https://www.genshin-impact.fr">GenshinImpactFR</a></em>
  </div>
  <div v-else>
    <h1 class="text-danger">Vous n'avez pas choisi votre personnage</h1>
  </div>
</template>

<script>
export default {
  name: "BuildPerso",
  data() {
    return {
      showMaterials: false
    }
  }
}
</script>

<style scoped>

</style>
