<template>
  <div>
    <h1>Calculer sa Pity</h1>
    <p>Avant d'utilisé le calculateur merci de bien voir la vidéo ci-dessous pour mieux comprendre de quoi il s'agit</p>
    <p class="text-danger"><i class="mdi mdi-youtube"></i>
      <a class="text-danger" href="https://www.youtube.com/watch?v=TxI7K7ZWeis">Quel PRIX en € pour TOUS les persos
        5***** C.6 ? Invoquer sur Genshin Impact ! - Celezis</a></p>
    <h3>Calculateur</h3>
    <b-row>
      <b-col class="my-1" md="3" sm="12">
        <label for="nbPageTemp">Nombre de page de pity (temporaire)</label>
        <b-form-input id="nbPageTemp" v-model.number="nbPageTemp" placeholder="27" type="number"></b-form-input>
      </b-col>
      <b-col class="my-1" md="3" sm="12">
        <label for="nbLastPageTemp">Nombre d'invoc dernière page temporaire (laisser vide si 6)</label>
        <b-form-input id="nbLastPageTemp" v-model.number="nbLastPageTemp" placeholder="4" type="number" @change="resetCounterTemp"></b-form-input>
      </b-col>
      <b-col class="my-1" md="3" sm="12">
        <label for="nbPagePerma">Nombre de page de pity (permanante)</label>
        <b-form-input id="nbPagePerma" v-model.number="nbPagePerma" placeholder="35" type="number"></b-form-input>
      </b-col>
      <b-col class="my-1" md="3" sm="12">
        <label for="nbLastPagePerma">Nombre d'invoc dernière page permanante (laisser vide si 6)</label>
        <b-form-input id="nbLastPagePerma" v-model.number="nbLastPagePerma" placeholder="2" type="number" @change="resetCounterPerma"></b-form-input>
      </b-col>
    </b-row>
    <b-row>
      <b-col class="my-1" md="6" sm="12">
        <label for="nbPageArmes">Nombre de page de pity (armes)</label>
        <b-form-input id="nbPageArmes" v-model.number="nbPageArmes" placeholder="12" type="number"></b-form-input>
      </b-col>
      <b-col class="my-1" md="6" sm="12">
        <label for="nbLastPageArmes">Nombre d'invoc dernière page d'armes (laisser vide si 6)</label>
        <b-form-input id="nbLastPageArmes" v-model.number="nbLastPageArmes" placeholder="3" type="number"></b-form-input>
      </b-col>
    </b-row>
    <b-row>
      <b-col class="my-1" md="4" sm="12">
        <label for="nb5StarsTemp">Nombre de 5 étoiles obtenues dans la bannière temporaire</label>
        <b-form-input id="nb5StarsTemp" v-model.number="nb5StarsTemp" placeholder="2" type="number"></b-form-input>
      </b-col>
      <b-col class="my-1" md="4" sm="12">
        <label for="nb5StarsPerma">Nombre de 5 étoiles obtenues dans la bannière permanante</label>
        <b-form-input id="nb5StarsPerma" v-model.number="nb5StarsPerma" placeholder="5" type="number"></b-form-input>
      </b-col>
      <b-col class="my-1" md="4" sm="12">
        <label for="nb5StarsArmes">Nombre de 5 étoiles obtenues dans la bannière d'armes</label>
        <b-form-input id="nb5StarsArmes" v-model.number="nb5StarsArmes" placeholder="5" type="number"></b-form-input>
      </b-col>
    </b-row>
    <b-table-simple bordered class="my-3" responsive>
      <b-thead>
        <b-th>Libellé</b-th>
        <b-th>Bannière Temporaire</b-th>
        <b-th>Bannière Permanante</b-th>
        <b-th>Bannière d'armes</b-th>
        <b-th>Total</b-th>
      </b-thead>
      <b-tbody style="font-weight: bold;">
        <b-tr>
          <b-td>Invocation totales</b-td>
          <b-td>{{ totalInvocTemp | spaceNumber }}</b-td>
          <b-td>{{ totalInvocPerma | spaceNumber }}</b-td>
          <b-td>{{ totalInvocArmes | spaceNumber }}</b-td>
          <b-td>{{ totalInvoc | spaceNumber }}</b-td>
        </b-tr>
        <b-tr>
          <b-td>Primo-gemmes dépensées au total</b-td>
          <b-td>{{ totalPrimoTemp | spaceNumber }}</b-td>
          <b-td>{{ totalPrimoPerma | spaceNumber }}</b-td>
          <b-td>{{ totalPrimoArmes | spaceNumber }}</b-td>
          <b-td>{{ totalPrimo | spaceNumber }}</b-td>
        </b-tr>
        <b-tr>
          <b-td>5 étoiles au total</b-td>
          <b-td>{{ total5StarsTemp ? total5StarsTemp : 0 }}</b-td>
          <b-td>{{ total5StarsPerma ? total5StarsPerma : 0 }}</b-td>
          <b-td>{{ total5StarsArmes ? total5StarsArmes : 0 }}</b-td>
          <b-td>{{ total5Stars }}</b-td>
        </b-tr>
        <b-tr>
          <b-td>Votre Pity personnelle</b-td>
          <b-td>{{ pityPersoTemp ? pityPersoTemp : 0 | around }}</b-td>
          <b-td>{{ pityPersoPerma ? pityPersoPerma : 0 | around }}</b-td>
          <b-td>{{ pityPersoArmes ? pityPersoArmes : 0 | around }}</b-td>
          <b-td>{{ pityPerso ? pityPerso : 0 | around }}</b-td>
        </b-tr>
        <b-tr>
          <b-td>Moyenne pour un 5 étoile</b-td>
          <b-td>{{ moyenneOne5StarTemp ? moyenneOne5StarTemp : 0 | around | spaceNumber }} primo-gemmes</b-td>
          <b-td>{{ moyenneOne5StarPerma ? moyenneOne5StarPerma : 0 | around | spaceNumber }} primo-gemmes</b-td>
          <b-td>{{ moyenneOne5StarArmes ? moyenneOne5StarArmes : 0 | around | spaceNumber }} primo-gemmes</b-td>
          <b-td>{{ moyenneOne5Star ? moyenneOne5Star : 0 | around | spaceNumber }} primo-gemmes</b-td>
        </b-tr>
        <b-tr>
          <b-td>Prix moyen en euros pour un 5 étoile</b-td>
          <b-td>{{ moyenneEurosTemp ? moyenneEurosTemp : 0 | around | spaceNumber }} &euro;</b-td>
          <b-td>{{ moyenneEurosPerma ? moyenneEurosPerma : 0 | around | spaceNumber }} &euro;</b-td>
          <b-td>{{ moyenneEurosArmes ? moyenneEurosArmes : 0 | around | spaceNumber }} &euro;</b-td>
          <b-td>{{ moyenneEuros ? moyenneEuros : 0 | around | spaceNumber }} &euro;</b-td>
        </b-tr>
        <b-tr>
          <b-td>Prix Total dépensés en euros</b-td>
          <b-td>{{ totalEuroDepenseTemp ? totalEuroDepenseTemp : 0 | around | spaceNumber }} &euro;</b-td>
          <b-td>{{ totalEuroDepensePerma ? totalEuroDepensePerma : 0 | around | spaceNumber }} &euro;</b-td>
          <b-td>{{ totalEuroDepenseArmes ? totalEuroDepenseArmes : 0 | around | spaceNumber }} &euro;</b-td>
          <b-td>{{ totalEuroDepense ? totalEuroDepense : 0 | around | spaceNumber }} &euro;</b-td>
        </b-tr>
      </b-tbody>
    </b-table-simple>
    <em>Les calculs et le concept revient à
      <a href="https://www.youtube.com/channel/UCCXm0VBWYTRQ2dyVpKuycqg">Celezis</a></em>
  </div>
</template>

<script>
export default {
  name: "CalculPity",
  data() {
    return {
      priceInvoc: 160,
      pricePackMaxPrimo: 110,
      nbPrimoPackMax: 8080,
      nbPageTemp: null,
      nbPagePerma: null,
      nbLastPageTemp: null,
      nbLastPagePerma: null,
      nbPageArmes: null,
      nbLastPageArmes: null,
      nb5StarsTemp: null,
      nb5StarsPerma: null,
      nb5StarsArmes: null,
    }
  },
  methods: {
    resetCounterTemp() {
      if (this.nbLastPageTemp > 6)
        this.nbLastPageTemp = 6
    },
    resetCounterPerma() {
      if (this.nbLastPagePerma > 6)
        this.nbLastPagePerma = 6
    }
  },
  computed: {
    totalInvocTemp() {
      let temporaire = 0
      if (this.nbLastPageTemp === null || this.nbLastPageTemp === 6 || this.nbLastPageTemp === 0)
        temporaire = this.nbPageTemp * 6
      else
        temporaire = (this.nbPageTemp - 1) * 6 + this.nbLastPageTemp

      return temporaire
    },
    totalInvocPerma() {
      let perma = 0
      if (this.nbLastPagePerma === null || this.nbLastPagePerma === 6 || this.nbLastPagePerma === 0)
        perma = this.nbPagePerma * 6
      else
        perma = (this.nbPagePerma - 1) * 6 + this.nbLastPagePerma

      return perma
    },
    totalInvocArmes() {
      let armes = 0
      if (this.nbLastPageArmes === null || this.nbLastPageArmes === 6 || this.nbLastPageArmes === 0)
        armes = this.nbPageArmes * 6
      else
        armes = (this.nbPageArmes - 1) * 6 + this.nbLastPageArmes

      return armes
    },
    totalInvoc() {
      return this.totalInvocTemp + this.totalInvocPerma + this.totalInvocArmes
    },
    totalPrimoTemp() {
      return this.totalInvocTemp * this.priceInvoc
    },
    totalPrimoPerma() {
      return this.totalInvocPerma * this.priceInvoc
    },
    totalPrimoArmes() {
      return this.totalInvocArmes * this.priceInvoc
    },
    totalPrimo() {
      return this.totalInvoc * this.priceInvoc
    },
    total5StarsTemp() {
      return this.nb5StarsTemp
    },
    total5StarsPerma() {
      return this.nb5StarsPerma
    },
    total5StarsArmes() {
      return this.nb5StarsArmes
    },
    total5Stars() {
      return this.nb5StarsTemp + this.nb5StarsPerma + this.nb5StarsArmes
    },
    pityPersoTemp() {
      return this.totalInvocTemp / this.total5StarsTemp
    },
    pityPersoPerma() {
      return this.totalInvocPerma / this.total5StarsPerma
    },
    pityPersoArmes() {
      return this.totalInvocArmes / this.total5StarsArmes
    },
    pityPerso() {
      return this.totalInvoc / this.total5Stars
    },
    moyenneOne5StarTemp() {
      return this.pityPersoTemp * this.priceInvoc
    },
    moyenneOne5StarPerma() {
      return this.pityPersoPerma * this.priceInvoc
    },
    moyenneOne5StarArmes() {
      return this.pityPersoArmes * this.priceInvoc
    },
    moyenneOne5Star() {
      return this.pityPerso * this.priceInvoc
    },
    moyenneEurosTemp() {
      return (this.moyenneOne5StarTemp * this.pricePackMaxPrimo) / this.nbPrimoPackMax
    },
    moyenneEurosPerma() {
      return (this.moyenneOne5StarPerma * this.pricePackMaxPrimo) / this.nbPrimoPackMax
    },
    moyenneEurosArmes() {
      return (this.moyenneOne5StarArmes * this.pricePackMaxPrimo) / this.nbPrimoPackMax
    },
    moyenneEuros() {
      return (this.moyenneOne5Star * this.pricePackMaxPrimo) / this.nbPrimoPackMax
    },
    totalEuroDepenseTemp() {
      return ((this.totalInvocTemp * this.priceInvoc) / this.nbPrimoPackMax) * this.pricePackMaxPrimo
    },
    totalEuroDepensePerma() {
      return ((this.totalInvocPerma * this.priceInvoc) / this.nbPrimoPackMax) * this.pricePackMaxPrimo
    },
    totalEuroDepenseArmes() {
      return ((this.totalInvocArmes * this.priceInvoc) / this.nbPrimoPackMax) * this.pricePackMaxPrimo
    },
    totalEuroDepense() {
      return ((this.totalInvoc * this.priceInvoc) / this.nbPrimoPackMax) * this.pricePackMaxPrimo
    }
  },
  filters: {
    spaceNumber(number) {
      return new Intl.NumberFormat().format(number)
    },
    around(number) {
      return Math.round(number);
    }

  }
}
</script>

<style scoped>

</style>
