<template>
  <div>
    <h1>Me soutenir</h1>
    <stripe-checkout ref="checkoutRef" :cancel-url="cancelURL" :line-items="lineItems" :pk="publishableKey" :success-url="successURL" mode="payment" @loading="v => loading = v"/>
    <button @click="submit">Pay now!</button>
  </div>
</template>

<script>
import {StripeCheckout} from '@vue-stripe/vue-stripe';

export default {
  name: "Donate",
  components: {
    StripeCheckout,
  },
  data() {
    return {
      loading: false,
      lineItems: [
        {
          price: 'price_1I9ubEJOLIUZItuBzVqF3yXW', // The id of the one-time price you created in your Stripe dashboard
          quantity: 1,
        },
      ],
      successURL: 'https://google.fr',
      cancelURL: 'https://amazon.fr',
      publishableKey: 'pk_test_51HwFrXJOLIUZItuBTPYg52TdtdS2A6YCW0CvSI4NF7JmzhTd8txQep8qxaH7usGmMYCf6rDJkXqWiRkVlBcRCOoT00FSJrI57a'
    };
  },
  methods: {
    submit() {
      this.$refs.checkoutRef.redirectToCheckout();
    },
  }
}
</script>

<style scoped>

</style>
