<template>
  <div class="home">
    <div v-if="listCheck.length !== 0">
      <BAlert v-if="!listCheck[0].list[0].image" show variant="danger">
        <h3 class="font-weight-bold">Le nouveau
          <router-link :to="{name : 'ResinePlanner'}">planning de résine</router-link>
          est dipsonible
        </h3>
        <p>Vous possédez une ancienne version de la liste de résine, veuillez donc vider la liste en utilisant le bouton
          ci-dessous pour résoudre le problème</p>
        <button class="btn btn-danger mt-3 ml-2" @click="removeResinePlanner">
          <i class="mdi mdi-backup-restore"></i> Effacer la liste déjà enregistrée
        </button>
        <p>{{ textResine }}</p>
      </BAlert>
    </div>

    <BAlert show variant="success">
      <h3 class="font-weight-bold">Dernière MAJ</h3>
      <ul class="responseQA-listItem">
        <li>Ajout du guide sur les artéfacts</li>
        <li>Préparation du menu pour le build de Ayaka / Yoimiya / Sayu</li>
      </ul>
    </BAlert>

    <BAlert show variant="info">
      <h3 class="font-weight-bold">Dernier code d'échange</h3>
      <p>Pour utilisez un code, vous devez allez sur l'onglet "compte" depuis les options de votre jeu</p>
      <h2>-</h2>
      <ul class="responseQA-listItem">
        <li>0x <img alt="primo" height="24" src="@/assets/img/Primo-gemme.webp" width="24"></li>
        <li>0x <img alt="moras" height="24" src="@/assets/img/Mora.png" width="24"></li>
      </ul>
    </BAlert>

    <h1>Calendrier des événements</h1>
    <p>cliquez sur un événement coloré pour en savoir plus</p>
    <v-calendar :attributes="attributes" :masks="masks" class="mb-2" is-expanded>
      <template #day-popover="{ attributes }">
        <div>
          <popover-row v-for="attr in attributes" :key="attr.key" :attribute="attr">
            {{ attr.popover.label }}
          </popover-row>
        </div>
      </template>
    </v-calendar>

    <h1>Nous sommes : {{ dayOfWeek }}</h1>

    <b-card no-body>
      <b-tabs card content-class="mt-3" fill pills>
        <b-tab active style="position: relative" title="Aptitudes personnages">
          <b-btn v-b-popover.hover.bottom="'Modifier l\'ordre d\'affichage'" class="buttonFilter" title="Alphabétique | Matériaux | Donjon | Rareté" variant="primary" @click="changeOrderCharacters(cards)">
            <i class="mdi mdi-swap-vertical"></i></b-btn>
          <strong>{{ swTextChar }}</strong>
          <h4>Voici la liste des personnages ou vous pouvez améliorer leurs aptitudes aujourd'hui 😱</h4>
          <em>PS: Pour aller voir le build d'un personnage en particulier cliquez juste sur sa photo ci-dessous</em>

          <b-row v-if="cards.length !== 0">
            <b-col :key="card.name" md="3" sm="12" v-for="card in cards">
              <CardChar :donjon="card.donjon" :image-apt="card.imageApt" :name-character="card.name" :route-donjon="card.routeDonjon" :stars="card.star" :type="card.type" show-aptitude/>
            </b-col>
          </b-row>
          <h3 class="text-warning" v-else>Le dimanche tous les personnages peuvent être élevés</h3>
        </b-tab>
        <b-tab style="position: relative" title="Amélioration d'armes">
          <b-btn v-b-popover.hover.bottom="'Modifier l\'ordre d\'affichage'" class="buttonFilter" title="Alphabétique | Matériaux | Donjon | Rareté" variant="primary" @click="changeOrderArmes(cardsArmes)">
            <i class="mdi mdi-swap-vertical"></i></b-btn>
          <strong>{{ swTextWeapon }}</strong>
          <h4>Voici la liste des armes que vous pouvez améliorer aujourd'hui 😍</h4>
          <b-row v-if="cardsArmes.length !== 0">
            <b-col v-for="card in cardsArmes" :key="card.name" md="3" sm="12">
              <CardArmes :donjon="card.donjon" :image-mat="card.imageMat" :image-name="card.imageName" :name-arme="card.name" :route-donjon="card.routeDonjon" :stars="card.star" show-material/>
            </b-col>
          </b-row>
          <h3 v-else class="text-warning">Le dimanche toutes les armes peuvent être améliorées</h3>
        </b-tab>
        <b-tab title="Planning de résine">
          <div v-if="listResine.length !== 0">
            <h4>Vous avez décider de faire un planning de résine (vous pouvez le modifier
              <router-link :to="{name : 'ResinePlanner'}">ici</router-link>
              ), voici ce que vous devez faire aujourd'hui 💪
            </h4>
            <b-card :key="list.id" class="my-2" v-for="list in listResine">
              <img v-if="list.image" :alt="list.image" :src="require(`@/assets/img/mobs/${list.image}.png`)" height="35" width="35">&nbsp;
              <strong> {{ list.name }} x{{ list.value }}
                <img height="24" src="@/assets/img/Resine.webp" width="24"></strong>
            </b-card>
            <h3>Total : {{ totalResine }} <img height="24" src="@/assets/img/Resine.webp" width="24"></h3>
          </div>
          <div v-else>
            <h4 class="text-warning">Vous n'avez pas de planning aujourd'hui veuillez le définir
              <router-link :to="{name : 'ResinePlanner'}">ici</router-link>
            </h4>
          </div>
        </b-tab>
      </b-tabs>
    </b-card>
    <a href='https://play.google.com/store/apps/details?id=com.amelya.genshinguide&pcampaignid=pcampaignidMKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1' target="_blank">
      <img alt='Disponible sur Google Play' class="img-fluid" src='https://play.google.com/intl/en_us/badges/static/images/badges/fr_badge_web_generic.png'/>
    </a>
  </div>
</template>

<script>
import dayjs from "dayjs";
import * as utils from "@/utils";
import characters from "@/json/characters.json";
import armes from "@/json/armes.json";
import CardChar from "@/components/CardChar";
import CardArmes from "@/components/CardArmes";
import PopoverRow from 'v-calendar/lib/components/popover-row.umd.min'

export default {
  name: 'Home',
  components: {CardArmes, CardChar, PopoverRow},
  data() {
    // const month = new Date().getMonth();
    // const year = new Date().getFullYear();
    return {
      dayOfWeek: dayjs().format('dddd'),
      cards: [],
      cardsArmes: [],
      listResine: [],
      totalResine: 0,
      masks: {
        weekdays: 'WWW',
      },
      attributes: utils.events,
      swChar: 0,
      swWeapon: 0,
      swTextChar: 'Ordre : Alphabétique',
      swTextWeapon: 'Ordre : Alphabétique',
      textResine: '',
      listCheck: []
    }
  },
  beforeMount() {
    this.loadCharacters()
    this.loadArmes()
    this.loadListResine()
    if (localStorage.getItem("listResine") !== null)
      this.listCheck = JSON.parse(localStorage.getItem('listResine'))
  },
  methods: {
    loadCharacters() {
      let dimanche = characters[0].lundi_jeudi.concat(characters[0].mardi_vendredi).concat(characters[0].mercredi_samedi)
      let lundi_jeudi = characters[0].lundi_jeudi
      let mardi_vendredi = characters[0].mardi_vendredi
      let mercredi_samedi = characters[0].mercredi_samedi

      this.cards = utils.detectDayOfWeek(lundi_jeudi, mardi_vendredi, mercredi_samedi, dimanche)

      utils.orderByName(this.cards)
    },
    loadArmes() {
      let dimanche = armes[0].lundi_jeudi.concat(armes[0].mardi_vendredi).concat(armes[0].mercredi_samedi)
      let lundi_jeudi = armes[0].lundi_jeudi
      let mardi_vendredi = armes[0].mardi_vendredi
      let mercredi_samedi = armes[0].mercredi_samedi

      this.cardsArmes = utils.detectDayOfWeek(lundi_jeudi, mardi_vendredi, mercredi_samedi, dimanche)

      utils.orderByName(this.cardsArmes)
    },
    loadListResine() {
      if (localStorage.getItem("listResine") !== null) {
        let listResine = JSON.parse(localStorage.getItem('listResine'))
        listResine.forEach(value => {
          if (this.dayOfWeek === value.day) {
            this.listResine = value.list

            //Total des résines
            let sum = 0
            for (let i = 0; i < value.list.length; i++) {
              sum += value.list[i].value
            }
            this.totalResine = sum
          }
        })
      }
    },
    changeOrderCharacters(array) {
      this.swChar++
      if (this.swChar === 0) {
        utils.orderByName(array)
        this.swTextChar = ' Ordre : Alphabétique'
      }
      if (this.swChar === 1) {
        utils.orderByApt(array)
        this.swTextChar = 'Ordre : Matériaux'
      }
      if (this.swChar === 2) {
        utils.orderByDonjon(array)
        this.swTextChar = 'Ordre : Donjon'
      }
      if (this.swChar === 3) {
        utils.orderByStars(array)
        this.swChar = -1
        this.swTextChar = 'Ordre : Rareté'
      }
    },
    changeOrderArmes(array) {
      this.swWeapon++
      if (this.swWeapon === 0) {
        utils.orderByName(array)
        this.swTextWeapon = ' Ordre : Alphabétique'
      }
      if (this.swWeapon === 1) {
        utils.orderByMat(array)
        this.swTextWeapon = 'Ordre : Matériaux'
      }
      if (this.swWeapon === 2) {
        utils.orderByDonjon(array)
        this.swTextWeapon = 'Ordre : Donjon'
      }
      if (this.swWeapon === 3) {
        utils.orderByStars(array)
        this.swWeapon = -1
        this.swTextWeapon = 'Ordre : Rareté'
      }
    },
    removeResinePlanner() {
      this.textResine = 'Opération réussi'
      localStorage.removeItem('listResine')
      this.listCheck = []
    }
  }
}
</script>
