<template>
  <div>
    <h1 class="mainTitle">Le système de pity</h1>

    <div class="responseQA">
      <div class="responseQA-text">
        La pity ( pitié en français ) est un principe qui existe sur certains gachas. Il consiste à donner quelque chose
        de valeur, par pitié, aux joueurs. Avant d'aller plus loin, il faut savoir que les prérequis d'une pity peuvent
        changer en fonction des différentes bannières : Temporaire Personnages, Temporaire Armes et Permanente.
      </div>
    </div>
    <br>
    <b-alert show variant="info">
      <h2>Sommaire</h2>
      <div class="responseQA">
        <div class="responseQA-listItem">
          <ul>
            <li>
              <router-link @click.native="scrollFix('#perso')" to="/pity">Bannière Temporaire Personnages
              </router-link>
            </li>
            <li>
              <router-link @click.native="scrollFix('#armes')" to="/pity">Bannière Temporaire Armes
              </router-link>
            </li>
            <li>
              <router-link @click.native="scrollFix('#perma')" to="/pity">Bannière Permanente
              </router-link>
            </li>
            <li>
              <router-link @click.native="scrollFix('#a-savoir')" to="/pity">A savoir
              </router-link>
            </li>
          </ul>
        </div>
      </div>
    </b-alert>

    <h2 class="subtitleQA" id="perso">Bannière Temporaire Personnages
      <img alt="invocation temporaire" height="35" src="@/assets/img/Voeux_Rouge.webp" width="35"></h2>
    <div class="responseQA">
      <div class="responseQA-text">
        Cette bannière met en valeur plusieurs personnages, dont un 5 <i class="mdi mdi-star" style="color: orange"></i>.
        Il y a deux types de pity sur elle : La pity 10 et la 90.
      </div>
      <br>
      <div class="responseQA-listItem">
        <p><i class="mdi mdi-google-nearby"></i> La pity 10 vous assure un 4
          <i class="mdi mdi-star" style="color: orange"></i> <span class="text-info">( armes ou personnages )</span> au
          10 ème vœux si vous n'en avez pas obtenu dans les 9 précédents. Lors de l'obtention d'un 4
          <i class="mdi mdi-star" style="color: orange"></i>, vous avez 50% de chance que celui ci soit un des
          personnages mis en avant par la bannière. Si ce n'est pas le cas, lors de l'obtention de votre second 4
          <i class="mdi mdi-star" style="color: orange"></i>, vous avez 100% de chance qu'un personnage de bannière
          tombe.</p>
        <p><i class="mdi mdi-google-nearby"></i> La pity 90 vous assure un personnage 5
          <i class="mdi mdi-star" style="color: orange"></i> au 90 ème vœux si vous n'en avez pas obtenu dans les 89
          précédents. Lors de l'obtention d'un 5 <i class="mdi mdi-star" style="color: orange"></i>, vous avez 50% de
          chance que ce soit celui de la bannière. Si ce n'est pas le cas, à l'obtention de votre second 5
          <i class="mdi mdi-star" style="color: orange"></i>, vous avez 100% de chance que le personnage de bannière
          tombe.</p>
      </div>
    </div>
    <br>
    <h2 class="subtitleQA" id="armes">Bannière Temporaire Armes
      <img alt="invocation temporaire" height="35" src="@/assets/img/Voeux_Rouge.webp" width="35"></h2>
    <div class="responseQA">
      <div class="responseQA-text">
        Cette bannière met en valeur plusieurs armes, dont plusieurs 5
        <i class="mdi mdi-star" style="color: orange"></i>. Il y a deux types de pity sur elle : La pity 10 et la 80.
      </div>
      <br>
      <div class="responseQA-listItem">
        <p><i class="mdi mdi-google-nearby"></i> La pity 10 vous assure un 4
          <i class="mdi mdi-star" style="color: orange"></i> <span class="text-info">( armes ou personnages )</span> au
          10 ème vœux si vous n'en avez pas obtenu dans les 9 précédents. Lors de l'obtention d'un 4
          <i class="mdi mdi-star" style="color: orange"></i>, vous avez 50% de chance que celui ci soit un des
          personnages mise en avant par la bannière. Si ce n'est pas le cas, lors de l'obtention de votre second 4
          <i class="mdi mdi-star" style="color: orange"></i>, vous avez 100% de chance qu'un personnage de bannière
          tombe.</p>
        <p><i class="mdi mdi-google-nearby"></i> La pity 80 vous assure une arme 5
          <i class="mdi mdi-star" style="color: orange"></i> au 80 ème vœux si vous n'en avez pas obtenu dans les 79
          précédents. Lors de l'obtention d'un 5 <i class="mdi mdi-star" style="color: orange"></i>, vous avez 75% de
          chance que celui ci soit une des armes mis en avant par la bannière . Si ce n'est pas le cas, à l'obtention
          de votre second 5 <i class="mdi mdi-star" style="color: orange"></i>, vous avez 100% de chance qu'une arme de
          bannière tombe.</p>
      </div>
    </div>
    <br>
    <h2 class="subtitleQA" id="perma">Bannière Permanente
      <img alt="invocation temporaire" height="35" src="@/assets/img/Voeux_Bleu.webp" width="35"></h2>
    <div class="responseQA">
      <div class="responseQA-text">
        Cette bannière ne met en valeur aucun personnages. Il y a deux types de pity sur elle : La pity 10 et la 90.
      </div>
      <br>
      <div class="responseQA-listItem">
        <p><i class="mdi mdi-google-nearby"></i> La pity 10 vous assure un 4
          <i class="mdi mdi-star" style="color: orange"></i> <span class="text-info">( armes ou personnages )</span> au
          10 ème vœux si vous n'en avez pas obtenu dans les 9 précédents. </p>
        <p><i class="mdi mdi-google-nearby"></i> La pity 90 vous assure <span class="text-info">un personnage ou une arme</span>
          5 <i class="mdi mdi-star" style="color: orange"></i> au 90 ème vœux si vous n'en avez pas obtenu dans les 89
          précédents. Le
          personnage ne peut pas être celui de la bannière temporaire. </p>
      </div>
    </div>
    <br>
    <h2 class="subtitleQA" id="a-savoir">A savoir</h2>
    <div class="responseQA">
      <div class="responseQA-text">
        <p>Peu importe la bannière, l'obtention d'un personnage ou d'une arme donne accès à :</p>
        <div class="responseQA-listItem">
          <ul>
            <li>Un 5 <i class="mdi mdi-star" style="color: orange"></i> : 10
              <span class="text-info">astéries libres</span>
              <img height="24" src="@/assets/img/Asterie.webp" width="24"></li>
            <li>Un 4 <i class="mdi mdi-star" style="color: orange"></i> : 2
              <span class="text-info">astéries libres</span>
              <img height="24" src="@/assets/img/Asterie.webp" width="24"></li>
            <li>Un 3 <i class="mdi mdi-star" style="color: orange"></i> : 15
              <span class="text-info">astrions libres</span>
              <img height="24" src="@/assets/img/Astrion_libre.webp" width="24"></li>
          </ul>
        </div>
        <p>Pour les personnages en double, de la 2 eme à la 7 eme obtention vous gagnerez :</p>
        <div class="responseQA-listItem">
          <ul>
            <li>1 <span class="text-info">Stella Fortuna du personnage</span>
              <img height="24" src="@/assets/img/Stella_Fortuna.webp" width="24"> ( pour augmenter sa constellation )
            </li>
            <li>10 <span class="text-info">astéries libres</span>
              <img height="24" src="@/assets/img/Asterie.webp" width="24"> ( pour les 5
              <i class="mdi mdi-star" style="color: orange"></i> )
            </li>
            <li>2 <span class="text-info">astéries libres</span>
              <img height="24" src="@/assets/img/Asterie.webp" width="24"> ( pour les 4
              <i class="mdi mdi-star" style="color: orange"></i> )
            </li>
            <li>
              A partir de la 8 ème obtention, 25 <span class="text-info">astéries libres</span>
              <img height="24" src="@/assets/img/Asterie.webp" width="24"> ( pour les 5
              <i class="mdi mdi-star" style="color: orange"></i> )
            </li>
            <li>
              A partir de la 8 ème obtention, 5 <span class="text-info">astéries libres</span>
              <img height="24" src="@/assets/img/Asterie.webp" width="24"> ( pour les 4
              <i class="mdi mdi-star" style="color: orange"></i> )
            </li>
          </ul>
        </div>
      </div>
    </div>

    <em>Source : Leiden sur le <a href="https://discord.gg/PFtDaArR8p">Discord Celezis</a></em>
    <div class="my-2"></div>
  </div>
</template>

<script>
import $ from 'jquery'

export default {
  name: "Pity",
  methods: {
    scrollFix: function (hash) {
      setTimeout(() => $('html, body').animate({
        scrollTop: $(hash).offset().top
      }, 1000), 1)
    }
  }
}
</script>

<style scoped>

</style>
