<template>
  <div>
    <h1 class="mainTitle">Planning de résine</h1>
    <p>Veuillez choisir votre programme de résine et choisissez le jour ou vous voulez qu'il soit utilisé, une fois la
      semaine complétée vérifier et si tout vous convient, appuyer sur le bouton enregistrer, <strong>a vous d'être
        logique et ne pas mettre 2 fois un boss hebdomadaire par exemple car vous n'aurez pas la récompense</strong></p>
    <p>Le but de ce planing est de vous donner une idée de comment organiser vos journée il est recommandé de le suivre
      mais reste facultatif, <strong>remplir ce planning permettra à l'application de l'afficher automatiquement en
        fonction du jour de la semaine en plus des personnage disponible à améliorer en ce jour</strong></p>

    <h3 style="text-decoration: underline">Comment utiliser le planning au mieux :</h3>
    <ol class="responseQA-listItem">
      <li>Choisissez une option dans la liste de sélection</li>
      <li>Elle s'ajoutera automatiquement dans la list temporaire</li>
      <li>Remplir votre planning à souhait ou supprimer des éléments</li>
      <li>Appuyez sur le bouton correspondant au jour ou vous voudrez effectuer ce planning</li>
      <li>Faites la même chose pour les jours de votre choix</li>
      <li>Vérifier l'intégrité des informations</li>
      <li>Sauvegarder votre planning ou supprimer les jours qui ne vous conviennent plus en cas de changement</li>
      <li>Pour tout supprimer et tout recommencer appuyer sur "Tout effacer" (<i class="mdi mdi-alert"></i> cela
        enregistrera une liste vide donc veuillez bien réfléchir avant de tout effacer)
      </li>
      <li>Profitez de votre planning qui sera automatiquement détecter en fonction du jour actuel sur la page
        d'accueil"
      </li>
    </ol>

    <div :class="'resineCounter' + className">{{ resineNumber }}/160</div>
    <b-alert class="mt-3" show v-show="alertSuccess" variant="success"><h3>Votre liste à bien été enregistrée ...</h3>
    </b-alert>
    <b-form-select :options="options" @change="addList(selected)" v-model="selected"></b-form-select>
    <br>
    <b-card :key="l.id" class="my-1" v-for="l in list">
      <img :alt="l.image" :src="require(`@/assets/img/mobs/${l.image}.png`)" height="35" width="35"> {{ l.name }}
      ({{ l.value }})
      <button @click="delElement(l.id)" class="btn btn-danger delete-button"><i class="mdi mdi-trash-can"></i></button>
    </b-card>

    <button v-for="day in days" :key="day" :disabled="list.length === 0" class="btn btn-outline-primary mx-1 my-1" @click="addFinalList(day)">
      {{
        day
      }}
    </button>
    <br>

    <b-card :key="final.id" class="my-1" v-for="final in finalList">
      <h3>{{ final.day }}</h3>
      <ul class="no-puce-li">
        <li v-for="list in final.list" :key="list.id">
          <img :alt="list.image" :src="require(`@/assets/img/mobs/${list.image}.png`)" height="35" width="35">
          {{ list.name }}
          ({{ list.value }})
        </li>
      </ul>
      <button @click="delElementDay(final.id, final.day)" class="btn btn-danger ml-3 delete-button">
        <i class="mdi mdi-trash-can"></i>
      </button>
    </b-card>
    <b-alert class="mt-3" show v-show="alertSuccess" variant="success"><h3>Votre liste à bien été enregistrée ...</h3>
    </b-alert>
    <button :disabled="finalList.length === 0" @click="saveList" class="btn btn-success mt-3">
      <i class="mdi mdi-content-save"></i> Sauvegarder
    </button>
    <button @click="delList" class="btn btn-danger mt-3 ml-2">
      <i class="mdi mdi-backup-restore"></i> Tout effacer
    </button>
  </div>
</template>

<script>
import * as utils from '@/utils';

export default {
  name: "ResinePlanner",
  data() {
    return {
      alertSuccess: false,
      id: 1,
      idDay: 1,
      list: [],
      finalList: [],
      days: [
        'lundi',
        'mardi',
        'mercredi',
        'jeudi',
        'vendredi',
        'samedi',
        'dimanche',
      ],
      selected: null,
      options: utils.resineOptions,
      resineNumber: 160,
      className: 'Full'
    }
  },
  beforeMount() {
    if (localStorage.getItem("listResine") !== null) {
      this.finalList = JSON.parse(localStorage.getItem('listResine'))
      this.finalList.forEach(value => {
        this.removeA(this.days, value.day)
      })
    }

    if (this.finalList.length !== 0) {
      this.idDay = this.finalList[this.finalList.length - 1].id + 1;
      this.id = this.finalList[this.finalList.length - 1].list[this.finalList[this.finalList.length - 1].list.length - 1].id + 1;
    }
  },
  methods: {
    redirect(path, isTimeOut = false) {
      if (isTimeOut) {
        setTimeout(() => {
          this.$router.push(path)
        }, 2000)
      } else {
        this.$router.push(path)
      }
    },
    //Permet de supprimer un element d'un tableau en fonction de son nom
    removeA(arr) {
      let what, a = arguments, L = a.length, ax;
      while (L > 1 && arr.length) {
        what = a[--L];
        while ((ax = arr.indexOf(what)) !== -1) {
          arr.splice(ax, 1);
        }
      }
      return arr;
    },
    checkColorResine() {
      if (this.resineNumber === 160)
        this.className = 'Full'
      if (this.resineNumber < 160)
        this.className = 'Use'
      if (this.resineNumber <= 80)
        this.className = 'Warning'
      if (this.resineNumber <= 0)
        this.className = 'Out'
    },
    delList() {
      this.finalList = []
      localStorage.removeItem('listResine')
      this.alertSuccess = true
      this.days = [
        'lundi',
        'mardi',
        'mercredi',
        'jeudi',
        'vendredi',
        'samedi',
        'dimanche',
      ]
      this.idDay = 1
      this.redirect('/', true)
    },
    saveList() {
      localStorage.setItem('listResine', JSON.stringify(this.finalList))
      this.alertSuccess = true
      this.redirect('/', true)
    },
    //Supprimer un élément du tableau
    delElement(id) {
      let lists = this.list.filter(x => {
        //Redistribue les points
        if (x.id === id) {
          this.resineNumber += x.value
          this.checkColorResine()
        }
        return x.id !== id;
      });
      //On envoie le nouveau tableau à la place de l'autre
      this.list = lists;
    },
    delElementDay(id, day) {
      let lists = this.finalList.filter(x => {
        //Réaffiche le bouton du jour
        if (x.id === id)
          this.days.push(day)
        return x.id !== id;
      });
      //On envoie le nouveau tableau à la place de l'autre
      this.finalList = lists;
    },
    addFinalList(day) {
      let obj = {
        id: this.idDay,
        day: day,
        list: this.list
      }

      this.finalList.push(obj)
      this.list = []
      this.resineNumber = 160
      this.removeA(this.days, day);
      this.idDay++
      this.checkColorResine()
    },
    addList(object) {
      let obj = {}
      obj["id"] = this.id
      obj["name"] = object.name
      obj["image"] = object.image
      obj["value"] = object.value

      if (object.value <= this.resineNumber) {
        this.list.push(obj)
        this.lessResine(object.value)
        this.selected = null
        //On incrémente l'id du tableau
        this.id++
      } else
        console.log('OLALA manque de point')

      this.checkColorResine()
    },
    lessResine(value) {
      // this.numberReq = null
      if (this.resineNumber > 0)
        this.resineNumber = this.resineNumber - value
      else
        this.resineNumber = 0
    }
  }
}
</script>

<style scoped>

</style>
