<template>
  <div>
    <h1 class="mainTitle">Résistances / Faiblesses des monstres</h1>
    <em>Les pourcentages sont lié aux réactions élémentaire, si les monstre n'ont pas l'élément affécté sur eux ils
      seront par défaut à 10% de résistance, sauf en cas d'immunité <br>(sur mobile merci de scroll vers la droite pour
      voir le reste du tableau)</em>
    <br>
    <b-table-simple bordered responsive>
      <b-thead>
        <b-th></b-th>
        <b-th><img height="24" src="@/assets/img/type/electro.png" width="24"></b-th>
        <b-th><img height="24" src="@/assets/img/type/pyro.png" width="24"></b-th>
        <b-th><img height="24" src="@/assets/img/type/hydro.png" width="24"></b-th>
        <b-th><img height="24" src="@/assets/img/type/cryo.png" width="24"></b-th>
        <b-th><img height="24" src="@/assets/img/type/anemo.png" width="24"></b-th>
        <b-th><img height="24" src="@/assets/img/type/geo.png" width="24"></b-th>
        <b-th><img height="24" src="@/assets/img/sword_icon.png" width="24"></b-th>
        <b-th>Affectation</b-th>
      </b-thead>
      <b-tbody>
        <ResMobRowTable v-for="row in rowsMob" :key="row.imageName" :image-name="row.imageName" :immunity="row.immunity" :res-anemo="row.resAnemo" :res-cryo="row.resCryo" :res-electro="row.resElectro" :res-geo="row.resGeo" :res-hydro="row.resHydro" :res-physique="row.resPhysique" :res-pyro="row.resPyro" :weakness="row.weakness"/>
      </b-tbody>
    </b-table-simple>

    <em>Merci à Sohra sur le <a href="https://discord.gg/PFtDaArR8p">Discord Celezis</a> pour l'idée</em>
  </div>
</template>

<script>
import ResMobRowTable from "@/components/ResMobRowTable";
import {tableResMobs} from "@/utils";

export default {
  name: "ResMobs",
  components: {ResMobRowTable},
  data() {
    return {
      rowsMob: tableResMobs
    }
  }
}
</script>

<style scoped>

</style>
