<template>
  <div :class="`card-mob`">
    <img :src="require(`@/assets/img/type/${type}.png`)" alt="Geo" class="mob_portrait_element">
    <img :alt="imageName | FirstCapital" :src="require(`@/assets/img/mobs/${imageName}.png`)">
    <span class="level_mob">Niv.{{ level }}</span>
    <h3>{{ nameMob | FirstCapital }}</h3>
  </div>
</template>

<script>
export default {
  name: "CardMob",
  props: {
    type: {
      required: true
    },
    imageName: {
      required: true
    },
    nameMob: {
      required: true
    },
    level: {
      required: true
    }
  },
  filters: {
    FirstCapital(text) {
      return (text + '').charAt(0).toUpperCase() + text.substr(1)
    }
  }
}
</script>

<style scoped>

</style>
