<template>
  <div :class="`card-char-${stars}`">
    <img :alt="nameLoot" :src="require(`@/assets/img/loots/${imagePath}`)">
    <h3>{{ nameLoot }}</h3>
  </div>
</template>

<script>
export default {
  name: "CardDonjonLoot",
  props: {
    stars: {
      required: true,
    },
    nameLoot: {
      required: true
    },
    imagePath: {
      required: true
    }
  }
}
</script>

<style scoped>

</style>
