<template>
  <div :class="`card-char-${stars}`">
    <div role="button" @click="redirectTo(nameCharacter)">
      <img :src="require(`@/assets/img/type/${type}.png`)" alt="Geo" class="char_portrait_element">
      <img v-if="showAptitude" :src="require(`@/assets/img/loots/${imageApt}`)" alt="aptitude" class="char_portrait_aptitude">
      <img :alt="nameCharacter | FirstCapital" :src="require(`@/assets/img/chars/${nameCharacter}.png`)">
      <h3>{{ nameCharacter | FirstCapital }}</h3>
    </div>
    <h4>
      <router-link :to="{name: routeDonjon}">{{ donjon }}</router-link>
    </h4>
  </div>
</template>

<script>
export default {
  name: "CardChar",
  props: {
    stars: {
      required: true,
    },
    nameCharacter: {
      required: true
    },
    type: {
      required: true
    },
    donjon: {
      required: true
    },
    routeDonjon: {
      required: true
    },
    showAptitude: Boolean,
    imageApt: String,
  },
  methods: {
    redirectTo(name) {
      let nameChar = (name + '').charAt(0).toUpperCase() + name.substr(1)
      this.$router.push(`/build/${nameChar}`)
    }
  },
  filters: {
    FirstCapital(text) {
      return (text + '').charAt(0).toUpperCase() + text.substr(1)
    }
  }
}
</script>

<style scoped>

</style>
