<template>
  <div :class="`card-armes-${stars}`">
    <img :alt="nameArme" :src="require(`@/assets/img/armes/${imageName}.png`)" height="70">
    <img v-if="showMaterial" :src="require(`@/assets/img/loots/${imageMat}`)" alt="material" class="char_portrait_aptitude">
    <h3>{{ nameArme }}</h3>
    <h4>
      <router-link :to="{name: routeDonjon}">{{ donjon }}</router-link>
    </h4>
  </div>
</template>

<script>
export default {
  name: "CardArmes",
  props: {
    stars: {
      required: true,
    },
    nameArme: {
      required: true
    },
    imageName: {
      required: true
    },
    donjon: {
      required: true
    },
    routeDonjon: {
      required: true
    },
    showMaterial: Boolean,
    imageMat: String,
  },
  filters: {
    FirstCapital(text) {
      return (text + '').charAt(0).toUpperCase() + text.substr(1)
    }
  }
}
</script>

<style scoped>

</style>
