<template>
  <div :class="`card-char-${stars}`">
    <img :src="require(`@/assets/img/type/${type}.png`)" alt="Geo" class="char_portrait_element">
    <img :alt="nameCharacter | FirstCapital" :src="require(`@/assets/img/chars/${nameCharacter}.png`)">
    <h3>{{ nameCharacter | FirstCapital }}</h3>
  </div>
</template>

<script>
export default {
  name: "CardChar2",
  props: {
    stars: {
      required: true,
    },
    nameCharacter: {
      required: true
    },
    type: {
      required: true
    }
  },
  filters: {
    FirstCapital(text) {
      return (text + '').charAt(0).toUpperCase() + text.substr(1)
    }
  }
}
</script>

<style scoped>

</style>
