<template>
  <b-navbar class="mb-2" toggleable="lg" type="dark" variant="dark">
    <b-navbar-brand :to="{name : 'Home'}">Genshin Guide</b-navbar-brand>

    <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

    <b-collapse id="nav-collapse" is-nav>
      <b-navbar-nav>
        <b-nav-item :to="{name : 'ResinePlanner'}">Planning de résine</b-nav-item>
        <b-nav-item-dropdown text="Guides">
          <b-dropdown-item :to="{name : 'Astuces'}">Astuces</b-dropdown-item>
          <b-dropdown-item :to="{name : 'Pity'}">Pity</b-dropdown-item>
          <b-dropdown-item :to="{name : 'Artefacts'}">Artefacts</b-dropdown-item>
          <b-dropdown-item :to="{name : 'ResMobs'}">Résistances / Faiblesses des monstres</b-dropdown-item>
          <b-dropdown-item :to="{name : 'CalculPity'}">Calcul de Pity</b-dropdown-item>
        </b-nav-item-dropdown>
        <!--        <b-nav-item :to="{name : 'Astuces'}">Astuces</b-nav-item>-->
        <!--        <b-nav-item :to="{name : 'Pity'}">Pity</b-nav-item>-->
        <b-nav-item :to="{name : 'Abysses'}">Abysses</b-nav-item>
        <b-nav-item-dropdown text="Donjons">
          <b-dropdown-group id="dropdown-group-1" header="Matériaux d’armes">
            <b-dropdown-item :to="{name : 'PepiniereDeCecilias'}">Pépinère de cécilias
              <img height="24" src="@/assets/img/loots/Croc-brise-du-loup-boreal-3.png" width="24">
              <img height="24" src="@/assets/img/loots/Chaines-du-Chevalier-du-Croc-de-Lion.png" width="24">
              <img height="24" src="@/assets/img/loots/Mur-abattu-de-Decabarian.png" width="24"></b-dropdown-item>
            <b-dropdown-item :to="{name : 'PalaisSecretDeLianshan'}">Palais secret de Lianshan
              <img height="24" src="@/assets/img/loots/Eclat-daerosiderite-noire.png" width="24">
              <img height="24" src="@/assets/img/loots/Roche-lustree-de-Guyun.png" width="24">
              <img height="24" src="@/assets/img/loots/Elixir-de-mercure-brumeux.png" width="24">
            </b-dropdown-item>
          </b-dropdown-group>
          <b-dropdown-group id="dropdown-group-1" header="Matériaux d’aptitudes">
            <b-dropdown-item :to="{name : 'ManoirTaishan'}">Le manoir Taishan
              <img height="24" src="@/assets/img/loots/Prosperite2.webp" width="24">
              <img height="24" src="@/assets/img/loots/Diligence2.webp" width="24">
              <img height="24" src="@/assets/img/loots/Gold2.webp" width="24">
            </b-dropdown-item>
            <b-dropdown-item :to="{name : 'GorgeDeLOubli'}">La Gorge de l'Oubli
              <img height="24" src="@/assets/img/loots/Resistance2.webp" width="24">
              <img height="24" src="@/assets/img/loots/Ballad2.webp" width="24">
              <img height="24" src="@/assets/img/loots/Freedom2.webp" width="24">
            </b-dropdown-item>
          </b-dropdown-group>
          <b-dropdown-group id="dropdown-group-1" header="Artéfacts">
            <b-dropdown-item :to="{name : 'ManoirTaishan'}" disabled>Jardin estival
              <img height="24" src="@/assets/img/loots/coeur-voyageur.png" width="24">
              <img height="24" src="@/assets/img/loots/dompteur-foudre.png" width="24">
              <img height="24" src="@/assets/img/loots/colere-tonnere.png" width="24">
            </b-dropdown-item>
            <b-dropdown-item :to="{name : 'GorgeDeLOubli'}" disabled>Vallée de la réminiscence
              <img height="24" src="@/assets/img/loots/miracle.png" width="24">
              <img height="24" src="@/assets/img/loots/verte-chasseuse.png" width="24">
              <img height="24" src="@/assets/img/loots/amour-cherie.png" width="24">
            </b-dropdown-item>
            <b-dropdown-item :to="{name : 'GorgeDeLOubli'}" disabled>Pic de Vindagnyr
              <img height="24" src="@/assets/img/loots/coeur-gardien.png" width="24">
              <img height="24" src="@/assets/img/loots/parrieur.png" width="24">
              <img height="24" src="@/assets/img/loots/conquerant-glace.png" width="24">
              <img height="24" src="@/assets/img/loots/sacrifier-hydro.png" width="24">
            </b-dropdown-item>
            <b-dropdown-item :to="{name : 'GorgeDeLOubli'}" disabled>Palais secret de Zhou
              <img height="24" src="@/assets/img/loots/coeur-gardien.png" width="24">
              <img height="24" src="@/assets/img/loots/artiste-martial.png" width="24">
              <img height="24" src="@/assets/img/loots/sorciere-ardente.png" width="24">
              <img height="24" src="@/assets/img/loots/marcheur-feu.png" width="24">
            </b-dropdown-item>
            <b-dropdown-item :to="{name : 'GorgeDeLOubli'}" disabled>Lagunes et montagnes
              <img height="24" src="@/assets/img/loots/parrieur.png" width="24">
              <img height="24" src="@/assets/img/loots/erudit.png" width="24">
              <img height="24" src="@/assets/img/loots/chevalerie-ensenglante.png" width="24">
              <img height="24" src="@/assets/img/loots/noblesse.png" width="24">
            </b-dropdown-item>
            <b-dropdown-item :to="{name : 'GorgeDeLOubli'}" disabled>Au-dessus des nuages
              <img height="24" src="@/assets/img/loots/coeur-du-guerrier.png" width="24">
              <img height="24" src="@/assets/img/loots/roche-ancienne.png" width="24">
              <img height="24" src="@/assets/img/loots/meteore-inverse.png" width="24">
            </b-dropdown-item>
          </b-dropdown-group>
        </b-nav-item-dropdown>
        <b-nav-item-dropdown text="Build personnage">
          <b-dropdown-group id="dropdown-build-perso4" header="Personnage 4*">
            <b-dropdown-item v-for="nav in nav4Star" :key="nav.name" :disabled="nav.disabled" :to="{name : 'BuildPerso', params: {name: nav.name}}">
              <img :src="require(`@/assets/img/chars/${nav.image}`)" height="24" width="24">
              {{ nav.name }}
            </b-dropdown-item>
          </b-dropdown-group>
          <b-dropdown-group id="dropdown-build-perso5" header="Personnage 5*">
            <b-dropdown-item v-for="nav in nav5Star" :key="nav.name" :disabled="nav.disabled" :to="{name : 'BuildPerso', params: {name: nav.name}}">
              <img :src="require(`@/assets/img/chars/${nav.image}`)" height="24" width="24">
              {{ nav.name }}
            </b-dropdown-item>
          </b-dropdown-group>
        </b-nav-item-dropdown>
        <b-nav-item :to="{name : 'About'}">A propos</b-nav-item>
      </b-navbar-nav>
    </b-collapse>
  </b-navbar>
</template>

<script>

import * as utils from "@/utils";

export default {
  name: "NavBar",
  data() {
    return {
      nav4Star: [],
      nav5Star: [],
    }
  },
  beforeMount() {
    this.order4StarByName()
    this.order5StarByName()
  },
  methods: {
    order4StarByName() {
      this.nav4Star = utils.NavBuild4Stars.sort(function (a, b) {
        return a.name.localeCompare(b.name);
      });
    },
    order5StarByName() {
      this.nav5Star = utils.NavBuild5Stars.sort(function (a, b) {
        return a.name.localeCompare(b.name);
      });
    }
  }
}
</script>

<style scoped>

</style>
