<template>
  <b-tr>
    <b-td><img :src="require(`@/assets/img/mobs/${imageName}`)" height="50"></b-td>
    <b-td><span style="color: purple">{{ resElectro }}%</span></b-td>
    <b-td><span style="color: orangered">{{ resPyro }}%</span></b-td>
    <b-td><span style="color: dodgerblue">{{ resHydro }}%</span></b-td>
    <b-td><span style="color: aqua">{{ resCryo }}%</span></b-td>
    <b-td><span style="color: chartreuse">{{ resAnemo }}%</span></b-td>
    <b-td><span style="color: orange">{{ resGeo }}%</span></b-td>
    <b-td><span style="color: black">{{ resPhysique }}%</span></b-td>
    <b-td>
      <span>Imunisé : {{ immunity }}</span><br>
      <span>Faiblesse : {{ weakness }}</span>
    </b-td>
  </b-tr>
</template>

<script>
export default {
  name: "ResMobRowTable",
  props: {
    imageName: {
      required: true
    },
    resElectro: {
      required: true
    },
    resPyro: {
      required: true
    },
    resHydro: {
      required: true
    },
    resCryo: {
      required: true
    },
    resAnemo: {
      required: true
    },
    resGeo: {
      required: true
    },
    resPhysique: {
      required: true
    },
    immunity: {
      required: true
    },
    weakness: {
      required: true
    }
  }
}
</script>

<style scoped>

</style>
