<template>
  <div>
    <h1 class="mainTitle">{{ titleDonjon }}</h1>
    <div class="responseQA">
      <div class="responseQA-text">
        Ce donjon permet d'obtenir des matériaux d'élévation pour améliorer vos personnages, les loots changent chaque
        jour !
      </div>
    </div>
    <br>
    <h1>{{ dayOfWeek }} :</h1>

    <h3>{{ cards[0].donjonName }}</h3>
    <b-row v-if="cards[0].loots.length !== 0">
      <b-col :key="card.name" md="4" sm="12" v-for="card in cards[0].loots">
        <CardDonjonLoot :image-path="card.imagePath" :name-loot="card.name" :stars="card.star"/>
      </b-col>
    </b-row>
    <h3 class="text-warning" v-else>Le dimanche tous les loots peuvent être obtenus</h3>

  </div>
</template>

<script>
import CardDonjonLoot from "@/components/CardDonjonLoot";
import dayjs from "dayjs";

export default {
  name: "ViewDonjon",
  components: {CardDonjonLoot},
  props: {
    titleDonjon: {
      required: true
    },
    cards: {
      required: true
    }
  },
  data() {
    return {
      dayOfWeek: dayjs().format('dddd')
    }
  }
}
</script>

<style scoped>

</style>
