<template>
  <div>
    <h1 class="mainTitle">{{ titleDonjon }}</h1>
    <div class="responseQA">
      <div class="responseQA-text">
        Ce donjon permet d'obtenir des matériaux d'élévation pour améliorer vos armes, les loots changent chaque
        jour !
      </div>
    </div>
    <br>
    <h1>{{ dayOfWeek }} :</h1>

    <h3>{{ cards[0].donjonName }}</h3>
    <b-row v-if="cards[0].loots.length !== 0">
      <b-col v-for="card in cards[0].loots" :key="card.name" md="3" sm="12">
        <CardDonjonLoot :image-path="card.imagePath" :name-loot="card.name" :stars="card.star"/>
      </b-col>
    </b-row>
    <h3 v-else class="text-warning">Le dimanche tous les loots peuvent être obtenus</h3>

  </div>
</template>

<script>
import CardDonjonLoot from "@/components/CardDonjonLoot";
import daysjs from "dayjs";

export default {
  name: "ViewDonjon2",
  components: {CardDonjonLoot},
  props: {
    titleDonjon: {
      required: true
    },
    cards: {
      required: true
    }
  },
  data() {
    return {
      dayOfWeek: daysjs().format('dddd')
    }
  }
}
</script>

<style scoped>

</style>
