<template>
  <div id="app">
    <NavBar/>
    <div class="container-fluid text-center">
<!--      <div class="donate-button" v-b-tooltip.hover.right="'Me soutenir'" @click="redirectDonate"><i class="mdi mdi-cash-usd-outline"></i></div>-->
      <router-view/>
    </div>

    <footer class="bg-dark text-white text-center py-2 mt-3">
      &copy; {{ year }} Amelya
      <br>
      Une question, une suggestion ? <i class="mdi mdi-discord"></i> Amelya#9439
    </footer>
  </div>
</template>

<style lang="sass">
@import "~@/assets/css/Main.scss"
</style>
<script>
import NavBar from "@/components/NavBar"
import dayjs from 'dayjs'


export default {
  components: {NavBar},
  data() {
    return {
      year: dayjs().format('YYYY')
    }
  },
  methods: {
    redirectDonate() {
      this.$router.push('donate')
    }
  }
}
</script>
