<template>
  <div>
    <h2>Étage 4</h2>
    <BAlert show variant="danger">
      <h3 class="font-weight-bold">Anomalies énergétique</h3>
      <ul class="responseQA-listItem">
        <li>Les DGT Électro infligés par l'équipe augmentent de 75 %</li>
        <li>Les DGT d'Électrocution augmentent de 150 % et sa portée augmente de 100 %</li>
      </ul>
    </BAlert>

    <BAlert show variant="success">
      <h3 class="font-weight-bold">Conseils</h3>
      <h5 class="font-weight-bold"><span class="text-underline">Personnages recommandés</span> :</h5>
      <b-row>
        <b-col v-for="salle in sallesMob[0].PersoRecommande" :key="salle.name" md="3" sm="12">
          <CardChar2 :name-character="salle.name" :stars="salle.star" :type="salle.type"/>
        </b-col>
      </b-row>
      <h5 class="font-weight-bold"><span class="text-underline">Effet de la team</span> :</h5>
      <ul class="responseQA-listItem">
        <li>Lisa en Main DPS (+ enlever les bouclier hydro des mages)</li>
        <li>Fischl pour la résonance élémentaire</li>
        <li>Ningguang pour sa barrière, ses boucliers</li>
        <li>Diona pour son bouclier, son soin</li>
      </ul>
      <h5 class="font-weight-bold"><span class="text-underline">Personnages de remplacement</span> :</h5>
      <ul class="responseQA-listItem">
        <li>Remplacer Lisa : Un autre personnage Main DPS</li>
        <li>Remplacer Fischl : Un autre personnage électro</li>
        <li>Remplacer Ningguang : Un autre personnage ayant la faculté d'invoquer un bouclier pour l'équipe ou un
          personnage ayant la faculté d'invoquer un leurre durant un certains temps (Amber, Mona, Ganyu), un personnage
          anémo
        </li>
        <li>Remplacer Diona: Un autre personnage ayant la faculté d'invoquer un bouclier pour l'équipe ou un personnage
          ayant la faculté d'invoquer un leurre durant un certains temps (Amber, Mona, Ganyu), un personnage anémo
        </li>
      </ul>
    </BAlert>

    <BAlert show variant="warning">
      <h3 class="font-weight-bold">Important à retenir</h3>
      <ul class="responseQA-listItem">
        <li>Avoir au minimum 1 électro</li>
        <li>Étage facile ( personnages lvl 60-70 peuvent suffire)</li>
        <li>Pensez à choisir un bonus d'étage et non de salle avant chaque combat</li>
      </ul>
    </BAlert>

    <BAlert show variant="info">
      <h3 class="font-weight-bold">Salle 1</h3>
      <h5 class="font-weight-bold"><span class="text-underline">Objectif</span> :</h5>
      <ul class="responseQA-listItem no-puce-li">
        <li><i class="mdi mdi-hexagram"></i> Temps de défi restant supérieur à 60 s</li>
        <li><i class="mdi mdi-hexagram"></i> Temps de défi restant supérieur à 120 s</li>
        <li><i class="mdi mdi-hexagram"></i> Temps de défi restant supérieur à 180 s</li>
      </ul>
      <h5 class="font-weight-bold"><span class="text-underline">Adversaires</span> :</h5>
      <b-row>
        <b-col v-for="salle in sallesMob[0].salle1Mob" :key="salle.nameMob" md="4" sm="12">
          <CardMob :image-name="salle.imageName" :level="salle.level" :name-mob="salle.nameMob" :type="salle.type"/>
        </b-col>
      </b-row>
      <h4>Salle débutant par des blobs et brutoclinus, profitez de l'Electrocution pour faire un maximum de dégâts.</h4>
      <br>
      <h4>Des archers apparaitront aux extrémité, utilisez le bouclier de Diona ou la barrière de Ningguang afin
        d'éviter leur flèches</h4><br>
      <h4>Utilisez un personnage électro pour enlever plus facilement le bouclier des 2 mages hydro. </h4>
    </BAlert>

    <BAlert show variant="info">
      <h3 class="font-weight-bold">Salle 2</h3>
      <h5 class="font-weight-bold"><span class="text-underline">Objectif</span> :</h5>
      <ul class="responseQA-listItem no-puce-li">
        <li><i class="mdi mdi-hexagram"></i> PV du Monolithe supérieurs à 20 %</li>
        <li><i class="mdi mdi-hexagram"></i> PV du Monolithe supérieurs à 40 %</li>
        <li><i class="mdi mdi-hexagram"></i> PV du Monolithe supérieurs à 60 %</li>
      </ul>
      <h5 class="font-weight-bold"><span class="text-underline">Adversaires</span> :</h5>
      <b-row>
        <b-col v-for="salle in sallesMob[0].salle2Mob" :key="salle.nameMob" md="4" sm="12">
          <CardMob :image-name="salle.imageName" :level="salle.level" :name-mob="salle.nameMob" :type="salle.type"/>
        </b-col>
      </b-row>
      <h4>Le but de cette salle est la défense de monolithe, elle débute par des blobs et brutocolinus, tuez en premier
        les mobs qui se dirigent vers le monolithe</h4><br>
      <h4>Utilisez la barrière de Ningguang pour protéger le monolithe des flèches d'un archer et le bouclier de Diona
        pour vous protéger de l'autre archer qui vous ciblera</h4><br>
      <h4>Les 2 derniers mobs de la salle seront un mage hydro et un gros brutocolinus avec hache. Le mage attaquera le
        monolithe, tuez le en premier en utilisant un personnage électro pour enlever son bouclier hydro plus
        facilement. Tandis que le brutocolinus vous ciblera vous, évitez de vous approcher du monolithe.</h4>
    </BAlert>

    <BAlert show variant="info">
      <h3 class="font-weight-bold">Salle 3</h3>
      <h5 class="font-weight-bold"><span class="text-underline">Objectif</span> :</h5>
      <ul class="responseQA-listItem no-puce-li">
        <li><i class="mdi mdi-hexagram"></i> Temps de défi restant supérieur à 60 s</li>
        <li><i class="mdi mdi-hexagram"></i> Temps de défi restant supérieur à 90 s</li>
        <li><i class="mdi mdi-hexagram"></i> Temps de défi restant supérieur à 120 s</li>
      </ul>
      <h5 class="font-weight-bold"><span class="text-underline">Adversaires</span> :</h5>
      <b-row>
        <b-col v-for="salle in sallesMob[0].salle3Mob" :key="salle.nameMob" md="4" sm="12">
          <CardMob :image-name="salle.imageName" :level="salle.level" :name-mob="salle.nameMob" :type="salle.type"/>
        </b-col>
      </b-row>
      <h4>Salle commençant par un guerrier et un archer brutocolinus ainsi qu'un gros brutocolinus avec hache et un
        shaman hydro</h4><br>
      <h4>Utilisez la barrière de Ningguang pour bloquer les flèches de l'archer et éliminer en premier le shaman hydro
        qui a la faculté de soigner ses congénères. Tuez le reste en toute tranquillité</h4><br>
      <h4>Les 2 derniers mobs de la salle seront 2 mages hydro (qui apparaitront à une distance très proche), soyez
        assez rapide pour pouvoir burst leur bouclier hydro en même temps à l'aide d'un personnage électro avant qu'un
        des deux ne se téléporte à l'opposé.</h4>
    </BAlert>
  </div>
</template>

<script>
import CardMob from "@/components/CardMob";
import CardChar2 from "@/components/CardChar2";
import Etage4 from "@/json/Abysses/Etage4.json";

export default {
  name: "Etage4",
  components: {CardChar2, CardMob},
  data() {
    return {
      sallesMob: Etage4,
    }
  }
}
</script>

<style scoped>

</style>
