<template>
  <div>
    <h2>Étage 2</h2>
    <BAlert show variant="danger">
      <h3 class="font-weight-bold">Anomalies énergétique</h3>
      <ul class="responseQA-listItem">
        <li>Les DGT Cryo infligés par l'équipe augmentent de 75%</li>
        <li>La durée de Gel est grandement prolongée</li>
      </ul>
    </BAlert>

    <BAlert show variant="success">
      <h3 class="font-weight-bold">Conseils</h3>
      <h5 class="font-weight-bold"><span class="text-underline">Personnages recommandés</span> :</h5>
      <b-row>
        <b-col v-for="salle in sallesMob[0].PersoRecommande" :key="salle.name" md="3" sm="12">
          <CardChar2 :name-character="salle.name" :stars="salle.star" :type="salle.type"/>
        </b-col>
      </b-row>
      <h5 class="font-weight-bold"><span class="text-underline">Effet de la team</span> :</h5>
      <ul class="responseQA-listItem">
        <li>Mona en Main DPS</li>
        <li>Chongyun pour les bonus de l'étage</li>
        <li>Lisa pour enlever le bouclier des mages</li>
        <li>Diona pour la résonance élémentaire, son bouclier, son heal</li>
      </ul>
      <h5 class="font-weight-bold"><span class="text-underline">Personnages de remplacement</span> :</h5>
      <ul class="responseQA-listItem">
        <li>Remplacer Mona par : Un autre personnage Main DPS</li>
        <li>Remplacer Chongyun par : Kaeya</li>
        <li>Remplacer Lisa par : Un personnage éléctro (Fishl ou Keqing)</li>
        <li>Remplacer Diona par : Un autre personnage cryo, si vous en avez, sinon Noëlle pour son bouclier</li>
      </ul>
    </BAlert>

    <BAlert show variant="warning">
      <h3 class="font-weight-bold">Important à retenir</h3>
      <ul class="responseQA-listItem">
        <li>Avoir au minimum 1 électro</li>
        <li>Etage relativement facile ( personnages lvl 50-60 peuvent
          suffire)
        </li>
        <li>Pensez à choisir un bonus d'étage et non de salle avant chaque combat</li>
      </ul>
    </BAlert>

    <BAlert show variant="info">
      <h3 class="font-weight-bold">Salle 1</h3>
      <h5 class="font-weight-bold"><span class="text-underline">Objectif</span> :</h5>
      <ul class="responseQA-listItem no-puce-li">
        <li><i class="mdi mdi-hexagram"></i> Temps de défi restant supérieur à 60 s</li>
        <li><i class="mdi mdi-hexagram"></i> Temps de défi restant supérieur à 90 s</li>
        <li><i class="mdi mdi-hexagram"></i> Temps de défi restant supérieur à 180 s</li>
      </ul>
      <h5 class="font-weight-bold"><span class="text-underline">Adversaires</span> :</h5>
      <b-row>
        <b-col v-for="salle in sallesMob[0].salle1Mob" :key="salle.nameMob" md="4" sm="12">
          <CardMob :image-name="salle.imageName" :level="salle.level" :name-mob="salle.nameMob" :type="salle.type"/>
        </b-col>
      </b-row>
      <h4>Utiliser vos personnages hydro et cryo pour bénéficier de la durée du gel augmentée ainsi que des dégâts
        d’électrocution !</h4>
    </BAlert>

    <BAlert show variant="info">
      <h3 class="font-weight-bold">Salle 2</h3>
      <h5 class="font-weight-bold"><span class="text-underline">Objectif</span> :</h5>
      <ul class="responseQA-listItem no-puce-li">
        <li><i class="mdi mdi-hexagram"></i> PV du Monolithe supérieurs à 20 %</li>
        <li><i class="mdi mdi-hexagram"></i> PV du Monolithe supérieurs à 40 %</li>
        <li><i class="mdi mdi-hexagram"></i> PV du Monolithe supérieurs à 60 %</li>
      </ul>
      <h5 class="font-weight-bold"><span class="text-underline">Adversaires</span> :</h5>
      <b-row>
        <b-col v-for="salle in sallesMob[0].salle2Mob" :key="salle.nameMob" md="4" sm="12">
          <CardMob :image-name="salle.imageName" :level="salle.level" :name-mob="salle.nameMob" :type="salle.type"/>
        </b-col>
      </b-row>
      <h4>Salle qui intègre pour la première fois en abysse : une épreuve de défense de Monolithe. <strong>A noter qu'il
        n'y pas de limite de temps pour finir la salle.</strong></h4><br>
      <h4>Occupez-vous des petits blobs qui commenceront à attaquer le Monolithe, tandis que les premiers gros blobs
        prendront l'agro sur vous. D'autres blobs apparaitrons, éliminez en priorité ceux qui attaquent le Monolithe.
        Un brutocolinus apparaitra et vous attaquera, attirez le loin du Monolithe et tuez le. </h4><br>
      <h4>Enfin les 3 derniers mobs seront 2 blobs et un mage hydro, éliminez rapidement le blob qui attaquera le
        pilonne tandis que le deuxième vous suivra. Ensuite tuez le mage hydro à l'aide d'un personnage électro ou cryo
        pour enlever son bouclier plus facilement.</h4>
    </BAlert>

    <BAlert show variant="info">
      <h3 class="font-weight-bold">Salle 3</h3>
      <h5 class="font-weight-bold"><span class="text-underline">Objectif</span> :</h5>
      <ul class="responseQA-listItem no-puce-li">
        <li><i class="mdi mdi-hexagram"></i> Temps de défi restant supérieur à 60 s</li>
        <li><i class="mdi mdi-hexagram"></i> Temps de défi restant supérieur à 90 s</li>
        <li><i class="mdi mdi-hexagram"></i> Temps de défi restant supérieur à 180 s</li>
      </ul>
      <h5 class="font-weight-bold"><span class="text-underline">Adversaires</span> :</h5>
      <b-row>
        <b-col v-for="salle in sallesMob[0].salle3Mob" :key="salle.nameMob" md="4" sm="12">
          <CardMob :image-name="salle.imageName" :level="salle.level" :name-mob="salle.nameMob" :type="salle.type"/>
        </b-col>
      </b-row>
      <h4>Salle qui débute avec 2 shamans hydro et un gros brutocolinus avec hache, éliminez en priorité les 2 shamans
        hydro qui ont la faculté de soigner le brutocolinus, tuez ce dernier en toute tranquillité.</h4><br>

      <h4>Les derniers mobs seront 2 mages hydro, tuez les 1 par 1 en vous aidant d'un personnage électro pour enlever
        leur bouclier plus facilement. Essayez de geler un mage lorsque vous tapez son camarade.</h4>
    </BAlert>
  </div>
</template>

<script>
import CardMob from "@/components/CardMob";
import CardChar2 from "@/components/CardChar2";
import Etage2 from "@/json/Abysses/Etage2.json";

export default {
  name: "Etage2",
  components: {CardChar2, CardMob},
  data() {
    return {
      sallesMob: Etage2,
    }
  }
}
</script>

<style scoped>

</style>
