<template>
  <div>
    <h2>Étage 5</h2>
    <BAlert show variant="danger">
      <h3 class="font-weight-bold">Anomalies énergétique</h3>
      <ul class="responseQA-listItem">
        <li>L'ATQ et la DÉF augmentent de 25 % lorsque les PV sont supérieurs à 50%</li>
        <li>Lorsque les PV sont supérieurs à 80 %, la VIT d'attaque normale augmente de 20 %</li>
      </ul>
    </BAlert>

    <BAlert show variant="success">
      <h3 class="font-weight-bold">Conseils</h3>
      <ul class="responseQA-listItem">
        <li>Salle qui intègre pour la première fois en abysse : Des salles à double équipe à partir de l'étage 5 jusqu'à
          l'étage 12, chaque salle sera réparti avec une première moitié et une deuxième moitié.
        </li>
        <li>Le temps impartie pour ces 2 équipes se suivent pour chaque salle, la défense d'un monolithe sera le même
          pour les 2 équipes.
        </li>
      </ul>
      <h5 class="font-weight-bold"><span class="text-underline">Personnages recommandés</span> :</h5>
      <h5 class="font-weight-bold"><span class="text-underline">Team 1</span> :</h5>
      <b-row>
        <b-col v-for="salle in sallesMob[0].PersoRecommandeTeam1" :key="salle.name" md="3" sm="12">
          <CardChar2 :name-character="salle.name" :stars="salle.star" :type="salle.type"/>
        </b-col>
      </b-row>
      <h5 class="font-weight-bold"><span class="text-underline">Team 2</span> :</h5>
      <b-row>
        <b-col v-for="salle in sallesMob[0].PersoRecommandeTeam2" :key="salle.name" md="3" sm="12">
          <CardChar2 :name-character="salle.name" :stars="salle.star" :type="salle.type"/>
        </b-col>
      </b-row>
      <h5 class="font-weight-bold"><span class="text-underline">Effet de la team</span> :</h5>
      <ul class="responseQA-listItem">
        <li>Klee en Main DPS (+ enlever les bouclier cryo des blobs)</li>
        <li>Ganyu pour enlever le bouclier de la prêtresse électro fatui</li>
        <li>Bennett pour la résonnance élémentaire, son heal</li>
        <li>Venti pour infliger dispersion, packer les mobs</li>
      </ul>
      <ul class="responseQA-listItem">
        <li>Mona en Main DPS (+ enlever les bouclier hydro des mages)</li>
        <li>Fischl comme support DPS, réaliser de l'électrocution avec Mona</li>
        <li>Voyageur Anémo pour infliger dispersion, packer les mobs</li>
        <li>Diona pour son bouclier, son heal</li>
      </ul>
      <h5 class="font-weight-bold"><span class="text-underline">Personnages de remplacement</span> :</h5>
      <ul class="responseQA-listItem">
        <li>Remplacer Klee : Un autre personnage Main DPS</li>
        <li>Remplacer Ganyu : Un personnage cryo, pyro, géo</li>
        <li>Remplacer Bennett : Un autre personnage healer, un personnage pyro, cryo, géo</li>
        <li>Remplacer Venti : Un autre personnage anémo</li>
      </ul>
      <ul class="responseQA-listItem">
        <li>Remplacer Mona : Un autre personnage Main DPS</li>
        <li>Remplacer Fischl : Un personnage support</li>
        <li>Remplacer le Voyageur Anémo : Un autre personnage</li>
        <li>Remplacer Diona : Un autre personnage healer, un personnage hydro</li>
      </ul>
    </BAlert>

    <BAlert show variant="warning">
      <h3 class="font-weight-bold">Important à retenir</h3>
      <ul class="responseQA-listItem">
        <li>Avoir au minimum 1 pyro, 1 cryo dans l'équipe 1</li>
        <li>Avoir au minimum 1 hydro dans l'équipe 2</li>
        <li>Essayer de garder un maximum de PV à l'aide d'un healer afin de bénéficier des bonus de l'étage</li>
        <li>Les personnages de lvl 60-70 peuvent suffire</li>
        <li>Pensez à choisir un bonus d'étage et non de salle avant chaque combat</li>
      </ul>
    </BAlert>

    <BAlert show variant="info">
      <h3 class="font-weight-bold">Salle 1</h3>
      <h5 class="font-weight-bold"><span class="text-underline">Objectif</span> :</h5>
      <ul class="responseQA-listItem no-puce-li">
        <li><i class="mdi mdi-hexagram"></i> Temps de défi restant supérieur à 180 s</li>
        <li><i class="mdi mdi-hexagram"></i> Temps de défi restant supérieur à 300 s</li>
        <li><i class="mdi mdi-hexagram"></i> Temps de défi restant supérieur à 420 s</li>
      </ul>
      <h5 class="font-weight-bold"><span class="text-underline">Adversaires</span> :</h5>
      <h5 class="font-weight-bold"><span class="text-underline">Première moitié</span> :</h5>
      <b-row>
        <b-col v-for="salle in sallesMob[0].salle1MobPt1" :key="salle.nameMob" md="4" sm="12">
          <CardMob :image-name="salle.imageName" :level="salle.level" :name-mob="salle.nameMob" :type="salle.type"/>
        </b-col>
      </b-row>
      <h5 class="font-weight-bold"><span class="text-underline">Seconde moitié</span> :</h5>
      <b-row>
        <b-col v-for="salle in sallesMob[0].salle1MobPt2" :key="salle.nameMob" md="4" sm="12">
          <CardMob :image-name="salle.imageName" :level="salle.level" :name-mob="salle.nameMob" :type="salle.type"/>
        </b-col>
      </b-row>
      <h4>1-1 Salle avec des blobs cryo et des archers. Utilisez un personnage pyro pour enlever les boucliers des blobs
        cryo plus facilement. Utilisez un personnage anémo pour essayer de packer les mobs.</h4><br>
      <h4>1-2 La seconde moitié de la salle 1 comprend 2 mages pyro, utilisez un personnage hydro pour enlever leur
        bouclier plus facilement</h4>
    </BAlert>

    <BAlert show variant="info">
      <h3 class="font-weight-bold">Salle 2</h3>
      <h5 class="font-weight-bold"><span class="text-underline">Objectif</span> :</h5>
      <ul class="responseQA-listItem no-puce-li">
        <li><i class="mdi mdi-hexagram"></i> Temps de défi restant supérieur à 90 s</li>
        <li><i class="mdi mdi-hexagram"></i> Temps de défi restant supérieur à 180 s</li>
        <li><i class="mdi mdi-hexagram"></i> Temps de défi restant supérieur à 240 s</li>
      </ul>
      <h5 class="font-weight-bold"><span class="text-underline">Adversaires</span> :</h5>
      <h5 class="font-weight-bold"><span class="text-underline">Première moitié</span> :</h5>
      <b-row>
        <b-col v-for="salle in sallesMob[0].salle2MobPt1" :key="salle.nameMob" md="4" sm="12">
          <CardMob :image-name="salle.imageName" :level="salle.level" :name-mob="salle.nameMob" :type="salle.type"/>
        </b-col>
      </b-row>
      <h5 class="font-weight-bold"><span class="text-underline">Seconde moitié</span> :</h5>
      <b-row>
        <b-col v-for="salle in sallesMob[0].salle2MobPt2" :key="salle.nameMob" md="4" sm="12">
          <CardMob :image-name="salle.imageName" :level="salle.level" :name-mob="salle.nameMob" :type="salle.type"/>
        </b-col>
      </b-row>
      <h4>2-1 Salle rempli de pilleurs de trésors, utilisez un personnage anémo pour packer les mobs et les tuer plus
        facilement</h4><br>
      <h4>2-2 Salle identique que la première moitié, utilisez un personnage anémo pour packer les mobs et les tuer plus
        facilement</h4>
    </BAlert>

    <BAlert show variant="info">
      <h3 class="font-weight-bold">Salle 3</h3>
      <h5 class="font-weight-bold"><span class="text-underline">Objectif</span> :</h5>
      <ul class="responseQA-listItem no-puce-li">
        <li><i class="mdi mdi-hexagram"></i> Temps de défi restant supérieur à 180 s</li>
        <li><i class="mdi mdi-hexagram"></i> Temps de défi restant supérieur à 300 s</li>
        <li><i class="mdi mdi-hexagram"></i> Temps de défi restant supérieur à 420 s</li>
      </ul>
      <h5 class="font-weight-bold"><span class="text-underline">Adversaires</span> :</h5>
      <h5 class="font-weight-bold"><span class="text-underline">Première moitié</span> :</h5>
      <b-row>
        <b-col v-for="salle in sallesMob[0].salle3MobPt1" :key="salle.nameMob" md="4" sm="12">
          <CardMob :image-name="salle.imageName" :level="salle.level" :name-mob="salle.nameMob" :type="salle.type"/>
        </b-col>
      </b-row>
      <h5 class="font-weight-bold"><span class="text-underline">Seconde moitié</span> :</h5>
      <b-row>
        <b-col v-for="salle in sallesMob[0].salle3MobPt2" :key="salle.nameMob" md="4" sm="12">
          <CardMob :image-name="salle.imageName" :level="salle.level" :name-mob="salle.nameMob" :type="salle.type"/>
        </b-col>
      </b-row>
      <h4>3-1 Salle contenant une prêtresse électro fatui et 2 pilleurs de trésors, éliminez rapidement les 2 pilleurs
        et finissez par la prêtresse</h4><br>
      <h4>Si la prêtresse est entrain de charger son attaque spécial, utilisez un personnage cryo pour enlever son
        bouclier plus facilement</h4><br>
      <h4>3-2 Salle contenant un assassin pyro fatui et 2 pilleurs de trésors, éliminez rapidement les 2 pilleurs et
        finissez par l'assassin.</h4><br>
      <h4>Faites attention lorsque l'assassin se met en invisible, pensez à esquiver au dernier moment son coup qui peut
        être fatal</h4>
    </BAlert>
  </div>
</template>

<script>
import CardMob from "@/components/CardMob";
import CardChar2 from "@/components/CardChar2";
import Etage5 from "@/json/Abysses/Etage5.json";

export default {
  name: "Etage5",
  components: {CardChar2, CardMob},
  data() {
    return {
      sallesMob: Etage5,
    }
  }
}
</script>

<style scoped>

</style>
