<template>
  <div>
    <h2>Étage 1</h2>
    <BAlert show variant="danger">
      <h3 class="font-weight-bold">Anomalies énergétique</h3>
      <ul class="responseQA-listItem">
        <li>Les DGT Pyro infligés par l'équipe augmentent de 75%</li>
        <li>Les DGT de Surcharge augmente de 200%</li>
      </ul>
    </BAlert>

    <BAlert show variant="success">
      <h3 class="font-weight-bold">Conseils</h3>
      <h5 class="font-weight-bold"><span class="text-underline">Personnages recommandés</span> :</h5>
      <b-row>
        <b-col v-for="salle in sallesMob[0].PersoRecommande" :key="salle.name" md="3" sm="12">
          <CardChar2 :name-character="salle.name" :stars="salle.star" :type="salle.type"/>
        </b-col>
      </b-row>
      <h5 class="font-weight-bold"><span class="text-underline">Effet de la team</span> :</h5>
      <ul class="responseQA-listItem">
        <li>Klee en Main DPS (+ bonus personnage pyro)</li>
        <li>Bennett pour la résonance élémentaire, son heal et bonus d'attaque, bonus pyro</li>
        <li>Xinyan pour son bouclier, résonance élémentaire et bonus pyro</li>
        <li>Diona pour enlever le bouclier de la sorcière électro, son bouclier, son heal</li>
      </ul>
      <h5 class="font-weight-bold"><span class="text-underline">Personnages de remplacement</span> :</h5>
      <ul class="responseQA-listItem">
        <li>Remplacer Klee par : Un autre personnage Main DPS</li>
        <li>Remplacer Bennett par : Un autre personnage pyro</li>
        <li>Remplacer Xinyan par : Un personnage anémo pour faire dispersion</li>
        <li>Remplacer Diona par : Un autre personnage cryo</li>
      </ul>
    </BAlert>

    <BAlert show variant="warning">
      <h3 class="font-weight-bold">Important à retenir</h3>
      <ul class="responseQA-listItem">
        <li>Avoir au minimum 1 pyro et 1cryo</li>
        <li>Etage relativement facile pas besoin de monter haut niveau vos personnages ( personnages lvl 40-50 peuvent
          suffire)
        </li>
        <li>Pensez à choisir un bonus d'étage et non de salle avant chaque combat</li>
      </ul>
    </BAlert>

    <BAlert show variant="info">
      <h3 class="font-weight-bold">Salle 1</h3>
      <h5 class="font-weight-bold"><span class="text-underline">Objectif</span> :</h5>
      <ul class="responseQA-listItem no-puce-li">
        <li><i class="mdi mdi-hexagram"></i> Temps de défi restant supérieur à 90 s</li>
        <li><i class="mdi mdi-hexagram"></i> Temps de défi restant supérieur à 150 s</li>
        <li><i class="mdi mdi-hexagram"></i> Temps de défi restant supérieur à 210 s</li>
      </ul>
      <h5 class="font-weight-bold"><span class="text-underline">Adversaires</span> :</h5>
      <b-row>
        <b-col v-for="salle in sallesMob[0].salle1Mob" :key="salle.nameMob" md="4" sm="12">
          <CardMob :image-name="salle.imageName" :level="salle.level" :name-mob="salle.nameMob" :type="salle.type"/>
        </b-col>
      </b-row>
      <h4>Utilise la surcharge pour faire un maximum de dégâts !</h4>
    </BAlert>

    <BAlert show variant="info">
      <h3 class="font-weight-bold">Salle 2</h3>
      <h5 class="font-weight-bold"><span class="text-underline">Objectif</span> :</h5>
      <ul class="responseQA-listItem no-puce-li">
        <li><i class="mdi mdi-hexagram"></i> Temps de défi restant supérieur à 90 s</li>
        <li><i class="mdi mdi-hexagram"></i> Temps de défi restant supérieur à 150 s</li>
        <li><i class="mdi mdi-hexagram"></i> Temps de défi restant supérieur à 210 s</li>
      </ul>
      <h5 class="font-weight-bold"><span class="text-underline">Adversaires</span> :</h5>
      <b-row>
        <b-col v-for="salle in sallesMob[0].salle2Mob" :key="salle.nameMob" md="4" sm="12">
          <CardMob :image-name="salle.imageName" :level="salle.level" :name-mob="salle.nameMob" :type="salle.type"/>
        </b-col>
      </b-row>
      <h4>Salle avec des petit brutocolinus, les 2 derniers mobs seront gros brutocolinus dont un avec une hache et le
        deuxième un bouclier (utiliser un personnage pyro pour détruire plus facilement son bouclier)</h4>
    </BAlert>

    <BAlert show variant="info">
      <h3 class="font-weight-bold">Salle 3</h3>
      <h5 class="font-weight-bold"><span class="text-underline">Objectif</span> :</h5>
      <ul class="responseQA-listItem no-puce-li">
        <li><i class="mdi mdi-hexagram"></i> Temps de défi restant supérieur à 90 s</li>
        <li><i class="mdi mdi-hexagram"></i> Temps de défi restant supérieur à 150 s</li>
        <li><i class="mdi mdi-hexagram"></i> Temps de défi restant supérieur à 210 s</li>
      </ul>
      <h5 class="font-weight-bold"><span class="text-underline">Adversaires</span> :</h5>
      <b-row>
        <b-col v-for="salle in sallesMob[0].salle3Mob" :key="salle.nameMob" md="4" sm="12">
          <CardMob :image-name="salle.imageName" :level="salle.level" :name-mob="salle.nameMob" :type="salle.type"/>
        </b-col>
      </b-row>
      <h4>Salle qui débute avec 2 archers et un brutocollinus bouclier, attirez le gros loin des archers puis go tuer
        les
        2 archers tranquillement.</h4><br>

      <h4>Ensuite 2 blobs électro et une sorcière fatui électro apparaitront, éliminer en premier les 2 blobs puis
        occupez
        vous de la sorciere. Si elle utilise son ulti burstez la avant qu'elle est fini de charger ou utiliser un
        personnage cryo pour enlever son bouclier </h4>
    </BAlert>
  </div>
</template>

<script>
import CardMob from "@/components/CardMob";
import CardChar2 from "@/components/CardChar2";
import Etage1 from "@/json/Abysses/Etage1.json";

export default {
  name: "Etage1",
  components: {CardChar2, CardMob},
  data() {
    return {
      sallesMob: Etage1,
    }
  }
}
</script>

<style scoped>

</style>
