<template>
  <div>
    <h2>Étage 3</h2>
    <BAlert show variant="danger">
      <h3 class="font-weight-bold">Anomalies énergétique</h3>
      <ul class="responseQA-listItem">
        <li>Les DGT de Dispersion infligés augmentent de 300 % et sa portée augmente de 100 %</li>
        <li>Les DGT Anémo infligés par l'équipe augmentent de 75 %</li>
      </ul>
    </BAlert>

    <BAlert show variant="success">
      <h3 class="font-weight-bold">Conseils</h3>
      <h5 class="font-weight-bold"><span class="text-underline">Personnages recommandés</span> :</h5>
      <b-row>
        <b-col v-for="salle in sallesMob[0].PersoRecommande" :key="salle.name" md="3" sm="12">
          <CardChar2 :name-character="salle.name" :stars="salle.star" :type="salle.type"/>
        </b-col>
      </b-row>
      <h5 class="font-weight-bold"><span class="text-underline">Effet de la team</span> :</h5>
      <ul class="responseQA-listItem">
        <li>Klee en Main DPS (+ enlever le bouclier d'un blob cryo plus facilement)</li>
        <li>Jean pour les bonus de l'étage, son heal, la résonance élémentaire</li>
        <li>Noëlle pour son bouclier</li>
        <li>Venti pour les bonus de l'étage, usage de Dispersion, son arc</li>
      </ul>
      <h5 class="font-weight-bold"><span class="text-underline">Personnages de remplacement</span> :</h5>
      <ul class="responseQA-listItem">
        <li>Remplacer Klee : Un autre personnage Main DPS</li>
        <li>Remplacer Jean : Un personnage pyro, geo, anémo ou un archer</li>
        <li>Remplacer Noëlle : Un autre personnage ayant la faculté d'invoquer un bouclier pour l'équipe (Diona) mais
          Noëlle vous l'avez forcément
        </li>
        <li>Remplacer Venti : Le voyageur anémo, sucrose ou un archer</li>
      </ul>
    </BAlert>

    <BAlert show variant="warning">
      <h3 class="font-weight-bold">Important à retenir</h3>
      <ul class="responseQA-listItem">
        <li>Avoir au minimum 1 pyro,1 anémo, 1 personnage archer</li>
        <li>Étage relativement facile ( personnages lvl 55-65 peuvent suffire)</li>
        <li>Pensez à choisir un bonus d'étage et non de salle avant chaque combat</li>
      </ul>
      <h4 class="font-weight-bold">Bonus: </h4>
      <CardChar2 :stars="0" name-character="xiangling" type="pyro"/>
      <h5 class="font-weight-bold">Une fois l'étage 3-3 terminé pour la première fois, le personnage Xiangling lancier
        pyro 4 étoiles vous sera offert</h5>
    </BAlert>

    <BAlert show variant="info">
      <h3 class="font-weight-bold">Salle 1</h3>
      <h5 class="font-weight-bold"><span class="text-underline">Objectif</span> :</h5>
      <ul class="responseQA-listItem no-puce-li">
        <li><i class="mdi mdi-hexagram"></i> Temps de défi restant supérieur à 60 s</li>
        <li><i class="mdi mdi-hexagram"></i> Temps de défi restant supérieur à 90 s</li>
        <li><i class="mdi mdi-hexagram"></i> Temps de défi restant supérieur à 180 s</li>
      </ul>
      <h5 class="font-weight-bold"><span class="text-underline">Adversaires</span> :</h5>
      <b-row>
        <b-col v-for="salle in sallesMob[0].salle1Mob" :key="salle.nameMob" md="4" sm="12">
          <CardMob :image-name="salle.imageName" :level="salle.level" :name-mob="salle.nameMob" :type="salle.type"/>
        </b-col>
      </b-row>
      <h4>Salle qui débute avec des petits blobs profitez de la dispersion pour faire un maximum de dégâts.</h4><br>
      <h4>Des archers apparaitront à chaque extrémité de l'arène, utilisez le bouclier de Noel afin d'esquiver leur
        flèche le temps de se déplacer vers eux pour les éliminer.</h4><br>
      <h4>Les 3 derniers mobs de la salle seront 3 gros blobs : pyro, cryo et électro, le blob cryo à un bouclier.
        Utilisez un personnage pyro pour enlever son bouclier plus facilement. </h4>
    </BAlert>

    <BAlert show variant="info">
      <h3 class="font-weight-bold">Salle 2</h3>
      <h5 class="font-weight-bold"><span class="text-underline">Objectif</span> :</h5>
      <ul class="responseQA-listItem no-puce-li">
        <li><i class="mdi mdi-hexagram"></i> Temps de défi restant supérieur à 60 s</li>
        <li><i class="mdi mdi-hexagram"></i> Temps de défi restant supérieur à 90 s</li>
        <li><i class="mdi mdi-hexagram"></i> Temps de défi restant supérieur à 180 s</li>
      </ul>
      <h5 class="font-weight-bold"><span class="text-underline">Adversaires</span> :</h5>
      <b-row>
        <b-col v-for="salle in sallesMob[0].salle2Mob" :key="salle.nameMob" md="4" sm="12">
          <CardMob :image-name="salle.imageName" :level="salle.level" :name-mob="salle.nameMob" :type="salle.type"/>
        </b-col>
      </b-row>
      <h4>Salle rempli de Pilleurs de trésors, essayez de packer ces derniers grâce a un personnage anémo pour les
        éliminer.</h4>
    </BAlert>

    <BAlert show variant="info">
      <h3 class="font-weight-bold">Salle 3</h3>
      <h5 class="font-weight-bold"><span class="text-underline">Objectif</span> :</h5>
      <ul class="responseQA-listItem no-puce-li">
        <li><i class="mdi mdi-hexagram"></i> Temps de défi restant supérieur à 60 s</li>
        <li><i class="mdi mdi-hexagram"></i> Temps de défi restant supérieur à 90 s</li>
        <li><i class="mdi mdi-hexagram"></i> Temps de défi restant supérieur à 120 s</li>
      </ul>
      <h5 class="font-weight-bold"><span class="text-underline">Adversaires</span> :</h5>
      <b-row>
        <b-col v-for="salle in sallesMob[0].salle3Mob" :key="salle.nameMob" md="4" sm="12">
          <CardMob :image-name="salle.imageName" :level="salle.level" :name-mob="salle.nameMob" :type="salle.type"/>
        </b-col>
      </b-row>
      <h4>Salle contenant un gros brutocolinus avec une hache ainsi qu'un gardien des ruines. Tuez en premier le
        brutocolinus.</h4><br>
      <h4>Si entre temps vous voyez le gardien des ruines utiliser ses missiles, activez le bouclier de Noel
        pour rester tranquille.</h4><br>
      <h4>Finissez par éliminer le gardien à l'aide d'un personnage archer pour viser ses points faible et le rendre
        confus pendants un certains temps.</h4>
    </BAlert>
  </div>
</template>

<script>
import CardMob from "@/components/CardMob";
import CardChar2 from "@/components/CardChar2";
import Etage3 from "@/json/Abysses/Etage3.json";

export default {
  name: "Etage3",
  components: {CardChar2, CardMob},
  data() {
    return {
      sallesMob: Etage3,
    }
  }
}
</script>

<style scoped>

</style>
